/* 448 */
.hidden {
  display: none;
}

/* 464 */
.people.screen-reader-text,
.people.sr-only {
  border: 0 !important;
  clip: rect(1px, 1px, 1px, 1px);
  height: 1px !important;
  overflow: hidden;
  padding: 0 !important;
  position: absolute !important;
  white-space: nowrap !important;
  width: 1px !important;
}

/* 475 */
.no-focus-ring {
  outline: none;
}

/* 2179 */
.people.artdeco-entity-image {
  display: inline-block;
  -ms-flex-negative: 0;
  flex-shrink: 0;
}

/* 2238 */
.people.artdeco-entity-image--circle-4 {
  width: 56px;
  height: 56px;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  background-clip: content-box;
  border: 2px solid rgba(0, 0, 0, 0);
  border-radius: 49.9%;
}

/* 2331 */
.people.base-serp-page {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  min-height: 100vh;
}

.people.base-serp-page__header {
  background: #fff;
  margin-bottom: 1px;
  padding: 0 16px;
}

/* 2349 */
.people.base-serp-page__content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -ms-flex-direction: row;
  flex-direction: row;
  -webkit-box-flex: 1;
  -ms-flex-positive: 1;
  flex-grow: 1;
}
.people.base-serp-page__filters-bar {
  padding: 0 16px 12px;
  border-bottom: 1px solid #e6e9ec;
}
@media (max-width: 1161px) and (min-width: 769px) {
  .people.base-serp-page__header .nav,
  .people.base-serp-page__filters,
  .people.base-serp-page__content {
    max-width: 1128px;
    margin-left: auto;
    margin-right: auto;
  }
}
@media (min-width: 1161px) {
  .people.base-serp-page__header .nav,
  .people.base-serp-page__filters,
  .people.base-serp-page__content {
    max-width: 1128px;
    margin-left: auto;
    margin-right: auto;
  }
}
@media (max-width: 769px) {
  .people.base-serp-page__content {
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
  }
}
@media (max-width: 1161px) and (min-width: 769px) {
  .people.base-serp-page__content {
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
  }
}

/* 2395 */
.people.serp-page__results {
  -ms-flex-negative: 0;
  flex-shrink: 0;
  padding-right: 24px;
  width: 838px;
  margin-top: 16px;
}

/* 2411 */
.people.serp-page__results-heading {
  --artdeco-reset-typography_getFontSize: 1.6rem;
  font-size: var(--artdeco-reset-typography_getFontSize);
  --artdeco-reset-typography_getLineHeight: 1.5;
  line-height: var(--artdeco-reset-typography_getLineHeight);
  font-weight: var(--artdeco-reset-typography-font-weight-normal);
  color: rgba(0, 0, 0, 0.6);
  line-height: 20px;
  margin-bottom: 16px;
}
@media (max-width: 769px) {
  .people.serp-page__results {
    margin-top: 12px;
  }
  .people.serp-page__aside {
    margin-top: 0;
  }
  .people.serp-page__aside,
  .people.serp-page__results {
    max-width: 100vw;
    padding: 0 16px;
    width: 100%;
  }
}
@media (max-width: 1161px) and (min-width: 769px) {
  .people.serp-page__results {
    margin-top: 12px;
  }
  .people.serp-page__aside {
    margin-top: 0;
  }
  .people.serp-page__aside,
  .people.serp-page__results {
    max-width: 100vw;
    padding: 0 16px;
    width: 100%;
  }
}

/* 2961 */
.people.search-entity-media {
  position: relative;
  display: block;
  height: -webkit-min-content;
  height: -moz-min-content;
  height: min-content;
  margin-right: 8px;
}

/* 3045 */
.people.base-search-card {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 32px 16px 32px 8px;
  border-bottom: 1px solid #e6e9ec;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
}
@media (max-width: 769px) {
  .people.base-search-card {
    padding: 12px 0;
  }
}

.people.base-search-card:hover,
.people.base-search-card:focus {
  background-color: #f3f6f8;
  text-decoration: inherit;
}

.people.base-search-card:hover .base-search-card__title,
.people.base-search-card:focus .base-search-card__title {
  text-decoration: underline;
}

/* 3068 */
.people.base-search-card__info {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  position: relative;
  -webkit-box-flex: 1;
  -ms-flex: 1;
  flex: 1;
}

/* 3094 */
.people.base-search-card__title {
  --artdeco-reset-typography_getFontSize: 1.8rem;
  font-size: var(--artdeco-reset-typography_getFontSize);
  --artdeco-reset-typography_getLineHeight: 1.33333;
  line-height: var(--artdeco-reset-typography_getLineHeight);
  font-weight: var(--artdeco-reset-typography-font-weight-bold);
  color: rgba(0, 0, 0, 0.9);
  word-break: break-word;
}

/* 3103 */
.people.base-search-card__subtitle {
  --artdeco-reset-typography_getFontSize: 1.6rem;
  font-size: var(--artdeco-reset-typography_getFontSize);
  --artdeco-reset-typography_getLineHeight: 1.75;
  line-height: var(--artdeco-reset-typography_getLineHeight);
  font-weight: var(--artdeco-reset-typography-font-weight-normal);
  color: rgba(0, 0, 0, 0.9);
}

/* 3111 */
.people.base-search-card__metadata,
.people.base-search-card__metadata-item {
  --artdeco-reset-typography_getFontSize: 1.6rem;
  font-size: var(--artdeco-reset-typography_getFontSize);
  --artdeco-reset-typography_getLineHeight: 1.5;
  line-height: var(--artdeco-reset-typography_getLineHeight);
  font-weight: var(--artdeco-reset-typography-font-weight-normal);
  color: rgba(0, 0, 0, 0.6);
}
.people.base-search-card
  span.base-search-card__metadata-item
  + span.base-search-card__metadata-item::before {
  content: "\00b7";
  margin: 0 4px 0 0;
}

/* 3134 */
.people.entity-list-meta {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: start;
  -ms-flex-align: start;
  align-items: flex-start;
}
.people.entity-list-meta__icon {
  -ms-flex-negative: 0;
  flex-shrink: 0;
  height: 16px;
  width: 16px;
  margin-right: 8px;
  display: inline-block;
}
.people.entity-list-meta__icon-svg {
  vertical-align: text-bottom;
  margin-bottom: 1px;
}

/* 3154 */
.people.people-search-card .base-search-card__info {
  overflow: hidden;
}

/* 3157 */
.people.people-search-card__location,
.people.people-search-card__summary {
  color: inherit;
}

/* 3181 */
.people.empty-search-header--center-aligned {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  padding: 116px 0;
  width: 100%;
}

/* 3195 */
.people.empty-search-header--center-aligned .core-section-container {
  text-align: center;
}

/* 3198 */
.people.empty-search-header__image {
  height: 130px;
  width: 164px;
  margin-bottom: 32px;
}

/* 3203 */
.people.search-results-header__heading,
.people.search-results-header__original-query-copy {
  --artdeco-reset-typography_getFontSize: 1.6rem;
  font-size: var(--artdeco-reset-typography_getFontSize);
  --artdeco-reset-typography_getLineHeight: 1.5;
  line-height: var(--artdeco-reset-typography_getLineHeight);
  font-weight: var(--artdeco-reset-typography-font-weight-normal);
  color: rgba(0, 0, 0, 0.6);
  line-height: 20px;
  margin-bottom: 16px;
}
.people.search-results-header__corrected-query,
.people.search-results-header__original-query {
  color: rgba(0, 0, 0, 0.9);
}
.people.search-results-header__count {
  margin-right: 4px;
}
.people.search-results-header__new-count {
  --artdeco-reset-typography_getFontSize: 1.4rem;
  font-size: var(--artdeco-reset-typography_getFontSize);
  --artdeco-reset-typography_getLineHeight: 1.42857;
  line-height: var(--artdeco-reset-typography_getLineHeight);
  font-weight: var(--artdeco-reset-typography-font-weight-normal);
  color: rgba(0, 0, 0, 0.9);
  color: #057642;
  margin-left: 4px;
}

/* 3231 */
.people.see-all-results-cta {
  margin: 24px 16px 64px 8px;
}
.people.see-all-results-cta__header {
  --artdeco-reset-typography_getFontSize: 2.4rem;
  font-size: var(--artdeco-reset-typography_getFontSize);
  --artdeco-reset-typography_getLineHeight: 1.33333;
  line-height: var(--artdeco-reset-typography_getLineHeight);
  font-weight: var(--artdeco-reset-typography-font-weight-normal);
  color: rgba(0, 0, 0, 0.9);
}
.people.see-all-results-cta__link {
  margin-top: 20px;
  background-color: #0073b1;
  border: 0;
  border-radius: 2px;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  color: #fff;
  cursor: pointer;
  display: inline-block;
  font-size: 2rem;
  font-weight: 600;
  font-family: inherit;
  height: 48px;
  line-height: 48px;
  overflow: hidden;
  outline-width: 2px;
  padding: 0 32px;
  position: relative;
  text-align: center;
  text-decoration: none;
  -webkit-transition-duration: 167ms;
  transition-duration: 167ms;
  -webkit-transition-property: background-color, color, -webkit-box-shadow;
  transition-property: background-color, color, -webkit-box-shadow;
  transition-property: background-color, box-shadow, color;
  transition-property: background-color, box-shadow, color, -webkit-box-shadow;
  -webkit-transition-timing-function: cubic-bezier(0, 0, 0.2, 1);
  transition-timing-function: cubic-bezier(0, 0, 0.2, 1);
  vertical-align: middle;
  z-index: 0;
  border-radius: 24px;
  background-color: #0a66c2;
}
@media only screen and (-ms-high-contrast: active) {
  .people.see-all-results-cta__link {
    border: 1px solid currentColor;
    line-height: 46px;
  }
}

.people.see-all-results-cta__link li-icon {
  top: 5px;
  -webkit-box-sizing: content-box;
  box-sizing: content-box;
  height: 24px;
  left: 0;
  margin: -12px 0 0 -4px;
  padding: 0 6px 0 0;
  position: relative;
  width: 24px;
}
.people.see-all-results-cta__link li-icon > svg {
  -webkit-transition: -webkit-transform 167ms;
  transition: -webkit-transform 167ms;
  transition: transform 167ms;
  transition: transform 167ms, -webkit-transform 167ms;
  -webkit-transition-timing-function: cubic-bezier(0, 0, 0.2, 1);
  transition-timing-function: cubic-bezier(0, 0, 0.2, 1);
  display: inline-block;
  vertical-align: top;
}

.people.see-all-results-cta__link:hover:not(:disabled):not(.disabled),
.people.see-all-results-cta__link.hover-not-disabled {
  background-color: #006097;
  color: #fff;
}
.people.see-all-results-cta__link:focus,
.people.see-all-results-cta__link.focus {
  background-color: #006097;
  color: #fff;
}
.people.see-all-results-cta__link:active:not(:disabled):not(.disabled),
.people.see-all-results-cta__link.active-not-disabled {
  background-color: #004b7c;
  color: #fff;
}
.people.see-all-results-cta__link:disabled,
.people.see-all-results-cta__link.disabled {
  color: rgba(255, 255, 255, 0.45);
  background-color: rgba(0, 115, 177, 0.35);
  cursor: not-allowed;
}
.people.see-all-results-cta__link:focus,
.people.see-all-results-cta__link.focus,
.people.see-all-results-cta__link:hover:not(:disabled):not(.disabled),
.people.see-all-results-cta__link.hover-not-disabled {
  background-color: #004182;
}
.people.see-all-results-cta__link:active,
.people.see-all-results-cta__link.active,
.people.see-all-results-cta__link:active:not(:disabled):not(.disabled),
.people.see-all-results-cta__link.active-not-disabled {
  background-color: #09223b;
}
.people.see-all-results-cta__link:visited,
.people.see-all-results-cta__link:visited:active,
.people.see-all-results-cta__link:visited:focus,
.people.see-all-results-cta__link:visited:hover {
  color: #fff;
}
@media (max-width: 769px) {
  .people.see-all-results-cta {
    margin: 24px 0 32px;
  }
  .people.see-all-results-cta__header {
    --artdeco-reset-typography_getFontSize: 2rem;
    font-size: var(--artdeco-reset-typography_getFontSize);
    --artdeco-reset-typography_getLineHeight: 1.4;
    line-height: var(--artdeco-reset-typography_getLineHeight);
    font-weight: var(--artdeco-reset-typography-font-weight-normal);
    color: rgba(0, 0, 0, 0.9);
  }
  .people.see-all-results-cta__link {
    width: 100%;
  }
}

/* 3382 */
.people.pserp-layout__profile-result-list-item {
  overflow: hidden;
}

/* 4463 */
.tab-md {
  display: flex;
  height: 48px;
  cursor: pointer;
  align-items: center;
  justify-content: center;
  background-color: var(--color-container-tertiary);
  padding-left: 24px;
  padding-right: 24px;
  padding-top: 16px;
  padding-bottom: 16px;
  font-size: 16px;
  font-weight: 600;
  color: var(--color-label);
}

/* 4490 */
.tab-sm.tab-vertical,
.tab-md.tab-vertical,
.tab-lg.tab-vertical {
  justify-content: flex-start;
}
.tab-sm:visited,
.tab-md:visited,
.tab-lg:visited {
  color: var(--color-label);
}
.tab-sm:focus,
.tab-md:focus,
.tab-lg:focus {
  color: var(--color-label);
  text-decoration-line: none;
}
.tab-sm:hover,
.tab-md:hover,
.tab-lg:hover {
  background-color: var(--color-container-tertiary-hover);
  color: var(--color-label-hover);
  text-decoration-line: none;
}
.tab-sm:active,
.tab-md:active,
.tab-lg:active {
  background-color: var(--color-container-tertiary-active);
  color: var(--color-label-active);
}
.tab-sm:disabled,
.tab-md:disabled,
.tab-lg:disabled,
.tab-disabled,
.tab-sm:disabled:hover,
.tab-md:disabled:hover,
.tab-lg:disabled:hover,
.tab-disabled:hover {
  background-color: var(--color-container-tertiary-disabled);
  color: var(--color-label-disabled);
}

/* 4530 */
.tab-selected {
  position: relative;
}

.tab-selected:not(.tab-vertical):after {
  position: absolute;
  bottom: 0px;
  width: 100%;
  --tw-content: "";
  content: var(--tw-content);
  border-bottom: 4px solid var(--color-indicator-current);
}

.tab-selected.tab-vertical:after {
  position: absolute;
  left: 0px;
  height: 100%;
  --tw-content: "";
  content: var(--tw-content);
  border-left: 4px solid var(--color-indicator-current);
}

/* 4565 */
.people.text-input {
  background-color: var(--color-input-container);
  border-color: var(--color-input-container-border);
  color: var(--color-input-value);
  border-radius: 4px;
  border-width: 1px;
  border-style: solid;
  padding-left: 16px;
  padding-right: 16px;
  padding-top: 14px;
  padding-bottom: 14px;
  font-family: -apple-system, system-ui, BlinkMacSystemFont, "Segoe UI", Roboto,
    "Helvetica Neue", "Fira Sans", Ubuntu, Oxygen, "Oxygen Sans", Cantarell,
    "Droid Sans", "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Emoji",
    "Segoe UI Symbol", "Lucida Grande", Helvetica, Arial, sans-serif;
  font-size: 16px;
}
.people.text-input:hover {
  background-color: var(--color-input-container-hover);
  border-color: var(--color-input-container-border-hover);
  box-shadow: 0 0 0 1px var(--color-input-container-border-hover);
  cursor: pointer;
  border-width: 1px;
}
.peopletext-input:active {
  background-color: var(--color-input-container-active);
  border-color: var(--color-input-container-border-active);
  cursor: pointer;
  border-width: 1px;
}
.people.text-input:disabled,
.people.text-input:disabled:hover,
.people.text-input:disabled:focus,
.people.text-input:disabled:active {
  background-color: var(--color-input-container-disabled);
  border-color: var(--color-input-container-border-disabled);
  color: var(--color-input-value-disabled);
  cursor: not-allowed;
  border-width: 1px;
  --tw-shadow: 0 0 #0000;
  --tw-shadow-colored: 0 0 #0000;
  box-shadow: var(--tw-ring-offset-shadow, 0 0 #0000),
    var(--tw-ring-shadow, 0 0 #0000), var(--tw-shadow);
}

/* 4852 */
.people.nav .search-bar {
  order: 2;
}

@media (max-width: 767px) {
  .people.nav .search-bar {
    order: 4;
  }
}

/* 5173 */
.people.base-search-bar .typeahead-input,
.people.base-search-bar .search-input {
  flex-grow: 1;
  border-radius: 0px;
  border-top-width: 0;
  border-bottom-width: 0;
  border-left-width: 0;
  border-right-width: 1px;
  border-style: solid;
  border-color: var(--color-border-faint);
}

/* 5237 */
@media (max-width: 767px) {
  .people.search-bar .dismissable-input {
    background-color: var(--color-input-container);
    border-color: var(--color-input-container-border);
    color: var(--color-input-value);
    border-radius: 4px;
    border-width: 1px;
    border-style: solid;
    padding-left: 16px;
    padding-right: 16px;
    padding-top: 14px;
    padding-bottom: 14px;
    font-family: -apple-system, system-ui, BlinkMacSystemFont, "Segoe UI",
      Roboto, "Helvetica Neue", "Fira Sans", Ubuntu, Oxygen, "Oxygen Sans",
      Cantarell, "Droid Sans", "Apple Color Emoji", "Segoe UI Emoji",
      "Segoe UI Emoji", "Segoe UI Symbol", "Lucida Grande", Helvetica, Arial,
      sans-serif;
    font-size: 16px;
  }
  .people.search-bar .dismissable-input:hover {
    background-color: var(--color-input-container-hover);
    border-color: var(--color-input-container-border-hover);
    box-shadow: 0 0 0 1px var(--color-input-container-border-hover);
    cursor: pointer;
    border-width: 1px;
  }
  .people.search-bar .dismissable-input:active {
    background-color: var(--color-input-container-active);
    border-color: var(--color-input-container-border-active);
    cursor: pointer;
    border-width: 1px;
  }
  .people.search-bar .dismissable-input:disabled,
  .people.search-bar .dismissable-input:disabled:hover,
  .people.search-bar .dismissable-input:disabled:focus,
  .people.search-bar .dismissable-input:disabled:active {
    background-color: var(--color-input-container-disabled);
    border-color: var(--color-input-container-border-disabled);
    color: var(--color-input-value-disabled);
    cursor: not-allowed;
    border-width: 1px;
    --tw-shadow: 0 0 #0000;
    --tw-shadow-colored: 0 0 #0000;
    box-shadow: var(--tw-ring-offset-shadow, 0 0 #0000),
      var(--tw-ring-shadow, 0 0 #0000), var(--tw-shadow);
  }
  .people.base-search-bar
    .input-error
    .typeahead-input.search-bar
    .dismissable-input,
  .people.base-search-bar
    .input-error
    .typeahead-input.search-bar
    .dismissable-input:active,
  .people.base-search-bar
    .input-error
    .typeahead-input.search-bar
    .dismissable-input:focus-within {
    border-style: solid;
    padding-top: 0px;
    padding-bottom: 0px;
    --tw-shadow: 0 0 #0000;
    --tw-shadow-colored: 0 0 #0000;
    box-shadow: var(--tw-ring-offset-shadow, 0 0 #0000),
      var(--tw-ring-shadow, 0 0 #0000), var(--tw-shadow);
  }
  .people.input-error .search-bar .dismissable-input {
    background-color: var(--color-input-container-error);
    border-color: var(--color-input-container-border-error);
    color: var(--color-input-value);
    border-radius: 4px;
    border-width: 1px;
    border-style: solid;
    padding-left: 16px;
    padding-right: 16px;
    padding-top: 14px;
    padding-bottom: 14px;
    font-family: -apple-system, system-ui, BlinkMacSystemFont, "Segoe UI",
      Roboto, "Helvetica Neue", "Fira Sans", Ubuntu, Oxygen, "Oxygen Sans",
      Cantarell, "Droid Sans", "Apple Color Emoji", "Segoe UI Emoji",
      "Segoe UI Emoji", "Segoe UI Symbol", "Lucida Grande", Helvetica, Arial,
      sans-serif;
    font-size: 16px;
  }
  .people.input-error .search-bar .dismissable-input:hover {
    background-color: var(--color-input-container-error-hover);
    border-color: var(--color-input-container-border-error-hover);
    box-shadow: 0 0 0 1px var(--color-input-container-border-error-hover);
    cursor: pointer;
    border-width: 1px;
  }
  .people.input-error .search-bar .dismissable-input:active {
    background-color: var(--color-input-container-error-active);
    border-color: var(--color-input-container-border-error-active);
    cursor: pointer;
    border-width: 1px;
  }
  .people.input-error .search-bar .dismissable-input:disabled,
  .people.input-error .search-bar .dismissable-input:disabled:hover,
  .people.input-error .search-bar .dismissable-input:disabled:focus,
  .people.input-error .search-bar .dismissable-input:disabled:active {
    background-color: var(--color-input-container-error-disabled);
    border-color: var(--color-input-container-border-error-disabled);
    color: var(--color-input-value-disabled);
    cursor: not-allowed;
    border-width: 1px;
    --tw-shadow: 0 0 #0000;
    --tw-shadow-colored: 0 0 #0000;
    box-shadow: var(--tw-ring-offset-shadow, 0 0 #0000),
      var(--tw-ring-shadow, 0 0 #0000), var(--tw-shadow);
  }
}
@media (min-width: 768px) and (max-width: 991px) {
  .people.search-bar .dismissable-input {
    background-color: rgba(0, 0, 0, 0);
    --tw-shadow: 0 0 #0000;
    --tw-shadow-colored: 0 0 #0000;
    box-shadow: var(--tw-ring-offset-shadow, 0 0 #0000),
      var(--tw-ring-shadow, 0 0 #0000), var(--tw-shadow);
  }
  .people.search-bar .dismissable-input:hover {
    border-right-color: var(--color-border-faint);
  }
}
@media (min-width: 992px) {
  .people.search-bar .dismissable-input {
    width: 0px;
    background-color: rgba(0, 0, 0, 0);
    --tw-shadow: 0 0 #0000;
    --tw-shadow-colored: 0 0 #0000;
    box-shadow: var(--tw-ring-offset-shadow, 0 0 #0000),
      var(--tw-ring-shadow, 0 0 #0000), var(--tw-shadow);
  }
  .people.search-bar .dismissable-input:hover {
    border-right-color: var(--color-border-faint);
  }
}

/* 5372 */
@media (max-width: 767px) {
  .people.search-bar:not(.isExpanded) .base-search-bar__form {
    display: none;
  }
}

@media screen and (max-width: 767px) {
  @media (max-width: 767px) {
    .people.search-bar.isExpanded .search-bar__placeholder {
      display: none;
    }
    .people.search-bar.isExpanded .base-search-bar__form {
      display: flex;
    }
  }
  .people.search-bar.isExpanded {
    position: fixed;
    top: 0px;
    bottom: 0px;
    left: 0px;
    right: 0px;
    z-index: 1000;
    margin-bottom: 0px;
    height: 100%;
    background-color: var(--color-background-container);
  }
  .people.search-bar.isExpanded .switcher-tabs__cancel-btn,
  .people.search-bar.isExpanded .switcher-tabs {
    display: inherit;
  }
}

/* 5403 */
.people.search-bar[data-current-search-type="JOBS"]
  .base-search-bar[data-searchbar-type="JOBS"],
.people.search-bar[data-current-search-type="PEOPLE"]
  .base-search-bar[data-searchbar-type="PEOPLE"],
.people.search-bar[data-current-search-type="POSTS"]
  .base-search-bar[data-searchbar-type="POSTS"],
.people.search-bar[data-current-search-type="LEARNING"]
  .base-search-bar[data-searchbar-type="LEARNING"] {
  display: flex;
}

.people.search-bar[data-current-search-type="JOBS"]
  .base-search-bar[data-searchbar-type="PEOPLE"],
.people.search-bar[data-current-search-type="JOBS"]
  .base-search-bar[data-searchbar-type="LEARNING"],
.people.search-bar[data-current-search-type="JOBS"]
  .base-search-bar[data-searchbar-type="POSTS"],
.people.search-bar[data-current-search-type="PEOPLE"]
  .base-search-bar[data-searchbar-type="JOBS"],
.people.search-bar[data-current-search-type="PEOPLE"]
  .base-search-bar[data-searchbar-type="LEARNING"],
.people.search-bar[data-current-search-type="PEOPLE"]
  .base-search-bar[data-searchbar-type="POSTS"],
.people.search-bar[data-current-search-type="POSTS"]
  .base-search-bar[data-searchbar-type="JOBS"],
.people.search-bar[data-current-search-type="POSTS"]
  .base-search-bar[data-searchbar-type="LEARNING"],
.people.search-bar[data-current-search-type="POSTS"]
  .base-search-bar[data-searchbar-type="PEOPLE"],
.people.search-bar[data-current-search-type="LEARNING"]
  .base-search-bar[data-searchbar-type="JOBS"],
.people.search-bar[data-current-search-type="LEARNING"]
  .base-search-bar[data-searchbar-type="PEOPLE"],
.people.search-bar[data-current-search-type="LEARNING"]
  .base-search-bar[data-searchbar-type="POSTS"] {
  display: none;
}

/* 6094 */
.left-0 {
  left: 0px;
}

/* 6802 */
.people.dismissable-input--focus {
  border-color: var(--color-action);
  --tw-shadow: 0 0 #0000;
  --tw-shadow-colored: 0 0 #0000;
  box-shadow: var(--tw-ring-offset-shadow, 0 0 #0000),
    var(--tw-ring-shadow, 0 0 #0000), var(--tw-shadow);
}
.people.dismissable-input--focus:hover {
  border-color: var(--color-action);
}
.people.dismissable-input--focus .dismissable-input__button--show {
  opacity: 0.6;
}
.people.dismissable-input__button--show {
  visibility: visible;
  cursor: pointer;
}
.people.dismissable-input__button--show:hover {
  opacity: 1;
}

/* 6822 */
.people.dismissable-input__input {
  /* override safari input defaults */
  -webkit-appearance: none;
}
.people.dismissable-input__input[placeholder] {
  overflow: hidden;
  text-overflow: ellipsis;
}
/* clears the 'X' from Chrome */
.people.dismissable-input__input::-webkit-search-decoration,
.people.dismissable-input__input::-webkit-search-cancel-button,
.people.dismissable-input__input::-webkit-search-results-button,
.people.dismissable-input__input::-webkit-search-results-decoration {
  display: none;
}

/* 6848 */
@media (forced-colors: active) {
  .people.filter-button--selected {
    border-width: 4px;
  }
}

/* 6853 */
.people.sr-only {
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  white-space: nowrap;
  border-width: 0;
}

/* 6864 */
.pointer-events-none {
  pointer-events: none;
}

/* 6882 */
.absolute {
  position: absolute;
}

/* 6925 */
.bottom-auto {
  bottom: auto;
}

/* 6928 */
.top-\[100\%\] {
  top: 100%;
}

/* 7033 */
.top-\[48px\] {
  top: 48px;
}

/* 7120 */
.z-1 {
  z-index: 100;
}

/* 7156 */
.z-\[1\] {
  z-index: 1;
}

/* 7204 */
.m-auto {
  margin: auto;
}

/* 7260 */
.mx-auto {
  margin-left: auto;
  margin-right: auto;
}

/* 7276 */
.mx-4 {
  margin-left: 32px;
  margin-right: 32px;
}

/* 7327 */
.mb-1\.5 {
  margin-bottom: 12px;
}

/* 7300 */
.my-auto {
  margin-top: auto;
  margin-bottom: auto;
}

/* 7348 */
.-mr-2 {
  margin-right: -16px;
}

/* 7485 */
.flex {
  display: flex;
}

/* 7567 */
.block {
  display: block;
}

/* 7633 */
.h-full {
  height: 100%;
}

/* 7639 */
.h-3 {
  height: 24px;
}

/* 7648 */
.h-\[24px\] {
  height: 24px;
}

/* 7660 */
.h-\[40px\] {
  height: 40px;
}

/* 7729 */
.h-\[44px\] {
  height: 44px;
}

/* 7735 */
.\!h-full {
  height: 100% !important;
}

/* 7855 */
.\!min-h-0 {
  min-height: 0px !important;
}

/* 7882 */
.min-h-\[24px\] {
  min-height: 24px;
}

/* 7903 */
.w-full {
  width: 100%;
}

/* 7927 */
.w-2 {
  width: 16px;
}

/* 7936 */
.w-auto {
  width: auto;
}

/* 7951 */
.w-\[24px\] {
  width: 24px;
}

/* 8143 */
.min-w-0 {
  min-width: 0px;
}

/* 8149 */
.min-w-\[24px\] {
  min-width: 24px;
}

/* 8155 */
.min-w-\[160px\] {
  min-width: 160px;
}

/* 8194 */
.max-w-full {
  max-width: 100%;
}

/* 8230 */
.flex-1 {
  flex: 1 1 0%;
}

/* 8242 */
.flex-shrink-0 {
  flex-shrink: 0;
}

/* 8266 */
.basis-\[40px\] {
  flex-basis: 40px;
}

/* 8251 */
.flex-grow {
  flex-grow: 1;
}

/* 8384 */
.cursor-pointer {
  cursor: pointer;
}

/* 8420 */
.flex-col {
  flex-direction: column;
}

/* 8426 */
.flex-nowrap {
  flex-wrap: nowrap;
}

/* 8438 */
.items-center {
  align-items: center;
}

/* 8447 */
.items-stretch {
  align-items: stretch;
}

/* 8462 */
.justify-between {
  justify-content: space-between;
}

/* 8519 */
.overflow-x-auto {
  overflow-x: auto;
}

/* 8522 */
.overflow-y-auto {
  overflow-y: auto;
}

/* 8525 */
.overflow-y-hidden {
  overflow-y: hidden;
}

/* 8570 */
.rounded-sm {
  border-radius: 4px;
}

/* 8657 */
.border-1 {
  border-width: 1px;
}

/* 8688 */
.border-r-1 {
  border-right-width: 1px;
}

/*8694 */
.border-solid {
  border-style: solid;
}

/* 8700 */
.border-color-border-faint {
  border-color: var(--color-border-faint);
}

/* 8784 */
.bg-color-transparent {
  background-color: rgba(0, 0, 0, 0);
}

/* 8829 */
.bg-cool-gray-20 {
  background-color: #edf3f8;
}

/* 8972 */
.py-1 {
  padding-top: 8px;
  padding-bottom: 8px;
}

/* 9056 */
.\!py-0 {
  padding-top: 0px !important;
  padding-bottom: 0px !important;
}

/* 9127 */
.pt-1\.5 {
  padding-top: 12px;
}

.pb-2 {
  padding-bottom: 16px;
}

/* 9181 */
.\!pr-3 {
  padding-right: 24px !important;
}

/* 9199 */
.\!pl-2 {
  padding-left: 16px !important;
}

.\!pr-1\.5 {
  padding-right: 12px !important;
}

/* 9277 */
.font-sans {
  font-family: -apple-system, system-ui, BlinkMacSystemFont, "Segoe UI", Roboto,
    "Helvetica Neue", "Fira Sans", Ubuntu, Oxygen, "Oxygen Sans", Cantarell,
    "Droid Sans", "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Emoji",
    "Segoe UI Symbol", "Lucida Grande", Helvetica, Arial, sans-serif;
}

/* 9283 */
.text-md {
  font-size: 16px;
}

/* 9454 */
.text-color-text {
  color: var(--color-text);
}

/* 9628 */
.opacity-0 {
  opacity: 0;
}

/* 9788 */
.transition-opacity {
  transition-property: opacity;
}

/* 9818 */
.duration-\[0\.1s\] {
  transition-duration: 0.1s;
}

/* 10673 */
.hyphens-auto {
  hyphens: auto;
}

/* 10689 */
.people.main-title {
  font-family: -apple-system, system-ui, BlinkMacSystemFont, "Segoe UI", Roboto,
    "Helvetica Neue", "Fira Sans", Ubuntu, Oxygen, "Oxygen Sans", Cantarell,
    "Droid Sans", "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Emoji",
    "Segoe UI Symbol", "Lucida Grande", Helvetica, Arial, sans-serif;
  font-size: 24px;
  line-height: 1.25;
  color: var(--color-text);
}

/* 10760 */
.people.lazy-loaded {
  opacity: 1;
}
.people.lazy-load,
.people.lazy-loaded {
  transition-property: opacity;
  transition-duration: 336ms;
  transition-timing-function: cubic-bezier(0.34, 0, 0.21, 1);
}

/* 11150 */
@media only screen and (min-width: 30.06em) {
  .people.card-cta-container-mobile {
    display: none !important;
    width: 0 !important;
    height: 0 !important;
    overflow: hidden !important;
    visibility: hidden !important;
  }

  .people.card-cta-container-desktop {
    display: block !important;
    width: auto !important;
    height: auto !important;
    visibility: visible !important;
    overflow: visible !important;
  }
}

/* 11174 */
.people.placeholder\:text-color-text-secondary::placeholder {
  color: var(--color-text-secondary);
}

/* 11468 */
.people.hover\:no-underline:hover {
  text-decoration-line: none;
}

/* 11525 */
.people.focus\:no-underline:focus {
  text-decoration-line: none;
}

/* 11531 */
.people.focus\:outline-none:focus {
  outline: 2px solid transparent;
  outline-offset: 2px;
}

/* 11640 */
@media (min-width: 992px) {
  .md\:overflow-x-hidden {
    overflow-x: hidden;
  }
}

/* 11645 */
@media (max-width: 767px) {
  .babybear\:btn-sm {
    height: min-content;
    min-height: 32px;
    border-radius: 24px;
    padding-top: 7px;
    padding-bottom: 7px;
    padding-left: 16px;
    padding-right: 16px;
    text-align: center;
    font-size: 14px;
    font-weight: 600;
    line-height: 1.25;
  }
  .babybear\:btn-sm,
  .babybear\:btn-sm:visited,
  .babybear\:btn-sm:focus {
    cursor: pointer;
    text-decoration-line: none;
  }
  .babybear\:btn-sm:hover,
  .babybear\:btn-sm:visited:hover {
    text-decoration-line: none;
  }
  .babybear\:btn-sm:disabled {
    cursor: not-allowed;
  }
  .babybear\:btn-secondary-emphasis,
  .babybear\:btn-secondary-emphasis:visited,
  .babybear\:btn-secondary-emphasis:focus {
    box-shadow: 0 0 0 1px
      var(--color-button-container-secondary-emphasis-border);
    background-color: var(--color-button-container-secondary-emphasis);
    color: var(--color-button-label-secondary-emphasis);
  }
  .babybear\:btn-secondary-emphasis:hover,
  .babybear\:btn-secondary-emphasis:visited:hover {
    box-shadow: 0 0 0 1px
      var(--color-button-container-secondary-emphasis-border);
    background-color: var(--color-button-container-secondary-emphasis-hover);
    color: var(--color-button-label-secondary-emphasis-hover);
  }
  .babybear\:btn-secondary-emphasis:active {
    box-shadow: 0 0 0 1px
      var(--color-button-container-secondary-emphasis-border-active);
    background-color: var(--color-button-container-secondary-emphasis-active);
    color: var(--color-button-label-secondary-emphasis-active);
  }
  .babybear\:btn-secondary-emphasis:disabled {
    box-shadow: 0 0 0 1px
      var(--color-button-container-secondary-emphasis-border-disabled);
    background-color: var(--color-button-container-secondary-emphasis-disabled);
    color: var(--color-button-label-secondary-emphasis-disabled);
  }
  .babybear\:container-lined {
    border-radius: 8px;
    border-width: 1px;
    border-style: solid;
    border-color: var(--color-surface-border);
    background-color: var(--color-surface);
  }
  .babybear\:invisible {
    visibility: hidden;
  }
  .babybear\:static {
    position: static;
  }
  .babybear\:right-4 {
    right: 32px;
  }
  .babybear\:bottom-0 {
    bottom: 0px;
  }
  .babybear\:\!-top-0\.5 {
    top: -4px !important;
  }
  .babybear\:\!-top-0 {
    top: -0px !important;
  }
  .babybear\:top-0\.5 {
    top: 4px;
  }
  .babybear\:top-0 {
    top: 0px;
  }
  .babybear\:bottom-\[120\%\] {
    bottom: 120%;
  }
  .babybear\:left-3 {
    left: 24px;
  }
  .babybear\:-top-1 {
    top: -8px;
  }
  .babybear\:z-0 {
    z-index: 0;
  }
  .babybear\:m-0 {
    margin: 0px;
  }
  .babybear\:my-2 {
    margin-top: 16px;
    margin-bottom: 16px;
  }
  .babybear\:mx-0 {
    margin-left: 0px;
    margin-right: 0px;
  }
  .babybear\:mx-mobile-container-padding {
    margin-left: 16px;
    margin-right: 16px;
  }
  .babybear\:ml-0 {
    margin-left: 0px;
  }
  .babybear\:mr-0 {
    margin-right: 0px;
  }
  .babybear\:mb-2 {
    margin-bottom: 16px;
  }
  .babybear\:mt-0 {
    margin-top: 0px;
  }
  .babybear\:mb-0\.5 {
    margin-bottom: 4px;
  }
  .babybear\:mb-0 {
    margin-bottom: 0px;
  }
  .babybear\:mt-0\.5 {
    margin-top: 4px;
  }
  .babybear\:mb-1 {
    margin-bottom: 8px;
  }
  .babybear\:mt-\[6px\] {
    margin-top: 6px;
  }
  .babybear\:ml-\[-9999px\] {
    margin-left: -9999px;
  }
  .babybear\:mb-1\.5 {
    margin-bottom: 12px;
  }
  .babybear\:ml-1 {
    margin-left: 8px;
  }
  .babybear\:flex {
    display: flex;
  }
  .babybear\:hidden {
    display: none;
  }
  .babybear\:h-\[360px\] {
    height: 360px;
  }
  .babybear\:h-6 {
    height: 48px;
  }
  .babybear\:h-\[72px\] {
    height: 72px;
  }
  .babybear\:h-4 {
    height: 32px;
  }
  .babybear\:h-\[27px\] {
    height: 27px;
  }
  .babybear\:h-\[1px\] {
    height: 1px;
  }
  .babybear\:h-\[48px\] {
    height: 48px;
  }
  .babybear\:h-auto {
    height: auto;
  }
  .babybear\:h-\[180px\] {
    height: 180px;
  }
  .babybear\:max-h-\[225px\] {
    max-height: 225px;
  }
  .babybear\:max-h-\[400px\] {
    max-height: 400px;
  }
  .babybear\:max-h-4 {
    max-height: 32px;
  }
  .babybear\:max-h-\[250px\] {
    max-height: 250px;
  }
  .babybear\:min-h-\[134px\] {
    min-height: 134px;
  }
  .babybear\:w-\[360px\] {
    width: 360px;
  }
  .babybear\:w-full {
    width: 100%;
  }
  .babybear\:w-11\/12 {
    width: 91.666667%;
  }
  .babybear\:w-\[199px\] {
    width: 199px;
  }
  .babybear\:w-6 {
    width: 48px;
  }
  .babybear\:w-\[27px\] {
    width: 27px;
  }
  .babybear\:w-\[1px\] {
    width: 1px;
  }
  .babybear\:w-\[100vw\] {
    width: 100vw;
  }
  .babybear\:w-\[calc\(100\%-68px\)\] {
    width: calc(100% - 68px);
  }
  .babybear\:min-w-full {
    min-width: 100%;
  }
  .babybear\:max-w-\[790px\] {
    max-width: 790px;
  }
  .babybear\:max-w-\[32px\] {
    max-width: 32px;
  }
  .babybear\:flex-none {
    flex: none;
  }
  .babybear\:flex-auto {
    flex: 1 1 auto;
  }
  .babybear\:flex-1 {
    flex: 1 1 0%;
  }
  .babybear\:basis-0 {
    flex-basis: 0px;
  }
  .babybear\:basis-1\/2 {
    flex-basis: 50%;
  }
  .babybear\:-translate-x-50\% {
    --tw-translate-x: -50%;
    transform: translate(var(--tw-translate-x), var(--tw-translate-y))
      rotate(var(--tw-rotate)) skewX(var(--tw-skew-x)) skewY(var(--tw-skew-y))
      scaleX(var(--tw-scale-x)) scaleY(var(--tw-scale-y));
  }
  .babybear\:rotate-90 {
    --tw-rotate: 90deg;
    transform: translate(var(--tw-translate-x), var(--tw-translate-y))
      rotate(var(--tw-rotate)) skewX(var(--tw-skew-x)) skewY(var(--tw-skew-y))
      scaleX(var(--tw-scale-x)) scaleY(var(--tw-scale-y));
  }
  .babybear\:flex-row {
    flex-direction: row;
  }
  .babybear\:flex-col {
    flex-direction: column;
  }
  .babybear\:flex-wrap {
    flex-wrap: wrap;
  }
  .babybear\:items-start {
    align-items: flex-start;
  }
  .babybear\:items-center {
    align-items: center;
  }
  .babybear\:justify-start {
    justify-content: flex-start;
  }
  .babybear\:justify-end {
    justify-content: flex-end;
  }
  .babybear\:justify-center {
    justify-content: center;
  }
  .babybear\:justify-around {
    justify-content: space-around;
  }
  .babybear\:self-start {
    align-self: flex-start;
  }
  .babybear\:self-center {
    align-self: center;
  }
  .babybear\:overflow-y-auto {
    overflow-y: auto;
  }
  .babybear\:rounded-\[0px\] {
    border-radius: 0px;
  }
  .babybear\:border-b-1 {
    border-bottom-width: 1px;
  }
  .babybear\:border-solid {
    border-style: solid;
  }
  .babybear\:border-color-border-low-emphasis {
    border-color: var(--color-border-low-emphasis);
  }
  .babybear\:bg-color-transparent {
    background-color: rgba(0, 0, 0, 0);
  }
  .babybear\:bg-color-brand {
    background-color: var(--color-brand);
  }
  .babybear\:p-2 {
    padding: 16px;
  }
  .babybear\:p-0 {
    padding: 0px;
  }
  .babybear\:py-1 {
    padding-top: 8px;
    padding-bottom: 8px;
  }
  .babybear\:px-0 {
    padding-left: 0px;
    padding-right: 0px;
  }
  .babybear\:px-2 {
    padding-left: 16px;
    padding-right: 16px;
  }
  .babybear\:px-mobile-container-padding {
    padding-left: 16px;
    padding-right: 16px;
  }
  .babybear\:py-3 {
    padding-top: 24px;
    padding-bottom: 24px;
  }
  .babybear\:py-1\.5 {
    padding-top: 12px;
    padding-bottom: 12px;
  }
  .babybear\:pr-0\.5 {
    padding-right: 4px;
  }
  .babybear\:pr-0 {
    padding-right: 0px;
  }
  .babybear\:pl-0\.5 {
    padding-left: 4px;
  }
  .babybear\:pl-0 {
    padding-left: 0px;
  }
  .babybear\:pt-0\.5 {
    padding-top: 4px;
  }
  .babybear\:pb-0 {
    padding-bottom: 0px;
  }
  .babybear\:pt-0 {
    padding-top: 0px;
  }
  .babybear\:pb-2 {
    padding-bottom: 16px;
  }
  .babybear\:text-xs {
    font-size: 12px;
  }
  .babybear\:text-sm {
    font-size: 14px;
  }
  .babybear\:font-bold {
    font-weight: 600;
  }
  .babybear\:leading-\[150px\] {
    line-height: 150px;
  }
  .babybear\:last\:border-b-0:last-child {
    border-bottom-width: 0;
  }
}

/* 12034 */
@media (min-width: 768px) and (max-width: 991px) {
  .mamabear\:container-lined {
    border-radius: 8px;
    border-width: 1px;
    border-style: solid;
    border-color: var(--color-surface-border);
    background-color: var(--color-surface);
  }
  .mamabear\:container-raised {
    border-radius: 8px;
    background-color: var(--color-surface);
    box-shadow: 0px 4px 12px var(--color-shadow);
  }
  .tab-sm.mamabear\:tab-vertical,
  .tab-md.mamabear\:tab-vertical,
  .tab-lg.mamabear\:tab-vertical {
    justify-content: flex-start;
  }
  .tab-selected.mamabear\:tab-vertical:after {
    position: absolute;
    left: 0px;
    height: 100%;
    --tw-content: "";
    content: var(--tw-content);
    border-left: 4px solid var(--color-indicator-current);
  }
  .mamabear\:absolute {
    position: absolute;
  }
  .mamabear\:right-4 {
    right: 32px;
  }
  .mamabear\:-top-0\.5 {
    top: -4px;
  }
  .mamabear\:-top-0 {
    top: -0px;
  }
  .mamabear\:top-\[58px\] {
    top: 58px;
  }
  .mamabear\:-top-1 {
    top: -8px;
  }
  .mamabear\:flex {
    display: flex;
  }
  .mamabear\:hidden {
    display: none;
  }
  .mamabear\:\!h-4 {
    height: 32px !important;
  }
  .mamabear\:h-\[100\%\] {
    height: 100%;
  }
  .mamabear\:\!min-h-\[32px\] {
    min-height: 32px !important;
  }
  .mamabear\:w-\[744px\] {
    width: 744px;
  }
  .mamabear\:w-full {
    width: 100%;
  }
  .mamabear\:w-\[calc\(100\%-97px\)\] {
    width: calc(100% - 97px);
  }
  .mamabear\:min-w-0 {
    min-width: 0px;
  }
  .mamabear\:max-w-\[790px\] {
    max-width: 790px;
  }
  .mamabear\:flex-row {
    flex-direction: row;
  }
  .mamabear\:flex-col {
    flex-direction: column;
  }
  .mamabear\:flex-wrap {
    flex-wrap: wrap;
  }
  .mamabear\:items-start {
    align-items: flex-start;
  }
  .mamabear\:items-center {
    align-items: center;
  }
  .mamabear\:justify-start {
    justify-content: flex-start;
  }
  .mamabear\:gap-y-1 {
    row-gap: 8px;
  }
  .mamabear\:self-center {
    align-self: center;
  }
  .mamabear\:rounded-tr-none {
    border-top-right-radius: 0px;
  }
  .mamabear\:px-3 {
    padding-left: 24px;
    padding-right: 24px;
  }
  .mamabear\:px-mobile-container-padding {
    padding-left: 16px;
    padding-right: 16px;
  }
  .mamabear\:py-3 {
    padding-top: 24px;
    padding-bottom: 24px;
  }
  .mamabear\:px-2 {
    padding-left: 16px;
    padding-right: 16px;
  }
  .mamabear\:pt-desktop-content-top-margin {
    padding-top: 16px;
  }
}

/* 12160 */
@media (min-width: 992px) {
  .papabear\:container-lined {
    border-radius: 8px;
    border-width: 1px;
    border-style: solid;
    border-color: var(--color-surface-border);
    background-color: var(--color-surface);
  }
  .papabear\:container-raised {
    border-radius: 8px;
    background-color: var(--color-surface);
    box-shadow: 0px 4px 12px var(--color-shadow);
  }
  .tab-sm.papabear\:tab-vertical,
  .tab-md.papabear\:tab-vertical,
  .tab-lg.papabear\:tab-vertical {
    justify-content: flex-start;
  }
  .tab-selected.papabear\:tab-vertical:after {
    position: absolute;
    left: 0px;
    height: 100%;
    --tw-content: "";
    content: var(--tw-content);
    border-left: 4px solid var(--color-indicator-current);
  }
  .papabear\:absolute {
    position: absolute;
  }
  .papabear\:top-\[58px\] {
    top: 58px;
  }
  .papabear\:-top-1 {
    top: -8px;
  }
  .papabear\:mx-auto {
    margin-left: auto;
    margin-right: auto;
  }
  .papabear\:\!mx-2 {
    margin-left: 16px !important;
    margin-right: 16px !important;
  }
  .papabear\:mt-\[-100px\] {
    margin-top: -100px;
  }
  .papabear\:mb-\[18px\] {
    margin-bottom: 18px;
  }
  .papabear\:mt-0 {
    margin-top: 0px;
  }
  .papabear\:mt-0\.5 {
    margin-top: 4px;
  }
  .papabear\:mr-2 {
    margin-right: 16px;
  }
  .papabear\:ml-column-gutter {
    margin-left: 24px;
  }
  .papabear\:inline-block {
    display: inline-block;
  }
  .papabear\:flex {
    display: flex;
  }
  .papabear\:hidden {
    display: none;
  }
  .papabear\:\!h-4 {
    height: 32px !important;
  }
  .papabear\:h-6 {
    height: 48px;
  }
  .papabear\:h-\[34px\] {
    height: 34px;
  }
  .papabear\:h-\[100\%\] {
    height: 100%;
  }
  .papabear\:min-h-\[96px\] {
    min-height: 96px;
  }
  .papabear\:\!min-h-\[32px\] {
    min-height: 32px !important;
  }
  .papabear\:w-\[400px\] {
    width: 400px;
  }
  .papabear\:w-content-max-w {
    width: 1128px;
  }
  .papabear\:w-core-rail-width {
    width: 784px;
  }
  .papabear\:w-right-rail-width {
    width: calc(1128px - 24px - 784px);
  }
  .papabear\:w-auto {
    width: auto;
  }
  .papabear\:w-\[1128px\] {
    width: 1128px;
  }
  .papabear\:w-\[135px\] {
    width: 135px;
  }
  .papabear\:w-\[calc\(100\%-97px\)\] {
    width: calc(100% - 97px);
  }
  .papabear\:min-w-0 {
    min-width: 0px;
  }
  .papabear\:max-w-\[550px\] {
    max-width: 550px;
  }
  .papabear\:flex-col {
    flex-direction: column;
  }
  .papabear\:flex-nowrap {
    flex-wrap: nowrap;
  }
  .papabear\:items-start {
    align-items: flex-start;
  }
  .papabear\:justify-start {
    justify-content: flex-start;
  }
  .papabear\:justify-center {
    justify-content: center;
  }
  .papabear\:self-start {
    align-self: flex-start;
  }
  .papabear\:rounded-tr-none {
    border-top-right-radius: 0px;
  }
  .papabear\:border-4 {
    border-width: 4px;
  }
  .papabear\:p-details-container-padding {
    padding: 24px;
  }
  .papabear\:p-0 {
    padding: 0px;
  }
  .papabear\:py-2 {
    padding-top: 16px;
    padding-bottom: 16px;
  }
  .papabear\:pt-desktop-content-top-margin {
    padding-top: 16px;
  }
  .papabear\:text-xl {
    font-size: 24px;
  }
}
