/* 1 */
.main-page.share-creation-state,
.main-page.share-creation-state__share-box-v2 {
  background: var(--color-background-container);
  flex-direction: column;
  display: flex;
}

.main-page.share-creation-state,
.main-page.share-creation-state__bottom {
  border-radius: 0 0 var(--corner-radius-medium) var(--corner-radius-medium);
}

/* 13 */
.main-page.share-creation-state {
  justify-content: space-between;
  height: 100%;
}

/* 28 */
.main-page.share-creation-state__share-box-v2--redesigned-detours
  .artdeco-carousel__item-container {
  margin: 0 var(--spacing-half-x);
}

/* 33 */
.main-page.share-creation-state__share-box-v2--redesigned-detours
  .artdeco-button--muted.artdeco-button--circle,
.main-page.share-creation-state__share-box-v2--redesigned-detours
  .artdeco-button--muted.artdeco-button--circle:active,
.main-page.share-creation-state__share-box-v2--redesigned-detours
  .artdeco-button--muted.artdeco-button--circle:focus,
.main-page.share-creation-state__share-box-v2--redesigned-detours
  .artdeco-button--muted.artdeco-button--circle:hover {
  box-shadow: none;
}

/* 44 */
.main-page.share-creation-state__writing-assistant-trigger:hover:not(:disabled),
.main-page.share-promoted-detour-button-legacy:hover:not(:disabled) {
  box-shadow: var(--elevation-raised);
}

/* 55 */
.main-page.share-creation-state__content-scrollable {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  overflow-y: auto;
}

/* 62 */
.main-page.share-creation-state__preview-container {
  margin: 1.2rem 2.4rem;
  position: relative;
}

.main-page.share-creation-state__preview-container--narrow {
  max-width: 600px;
}

.main-page.share-creation-state__preview-container-controls {
  display: flex;
  padding: 0.4rem;
  position: absolute;
  right: 0.8rem;
  top: 0.8rem;
  z-index: 4;
}

.main-page.share-creation-state__preview-container-btn {
  color: var(--color-icon-on-dark);
  background-color: var(--color-background-scrim);
  margin-right: var(--spacing-one-x);
}

.main-page.share-creation-state__preview-container-btn.share-creation-state__preview-container-btn {
  min-height: auto;
  padding: 4px;
}

.main-page.share-creation-state__preview-container-btn li-icon {
  margin: 0;
}

.main-page.share-creation-state__preview-container-btn:hover {
  color: var(--color-icon-on-dark);
  background-color: var(--color-background-scrim-dark);
}

.main-page.share-creation-state__preview-container--has-error {
  border-color: var(--color-signal-negative);
  border-radius: 2px;
}

/* 105 */
.main-page.share-creaton-state__preview-container--as-box {
  border: 1px solid var(--color-background-none-tint-hover);
  border-radius: var(--corner-radius-medium);
  overflow: hidden;
}

/* 164 */
.main-page.share-creation-state__additional-toolbar {
  padding: 1.2rem 2.4rem 0.4rem 1.6rem;
  align-items: center;
  border: none;
  display: flex;
}

.main-page.share-creation-state__additional-toolbar--no-padding {
  padding: 0;
}

/* 184 */
.main-page.share-creation-state__footer {
  align-items: center;
  background: var(--color-background-container);
  border-radius: 0 0 var(--corner-radius-medium) var(--corner-radius-medium);
  display: flex;
  justify-content: space-between;
  padding: 1.2rem 2.4rem 1.2rem 1.6rem;
}

/* 227 */
.main-page.share-creation-state__schedule-and-post-container {
  align-items: center;
  display: flex;
}

/* 248 */
.main-page.share-creation-state__text-editor {
  color: var(--color-text);
  margin: 1.2rem 2.4rem;
}

/* 253 */
.main-page.share-creation-state__text-editor .ql-editor {
  min-height: 9.6rem;
  padding: 0;
}

.main-page.share-creation-state__text-editor .ql-editor.ql-blank::before {
  color: var(--color-text-low-emphasis);
  font-style: normal;
  left: 1px;
  right: 0;
}

@media (-ms-high-contrast: active), (forced-colors: active) {
  .main-page.share-creation-state__text-editor .ql-editor.ql-blank::before {
    color: GrayText;
  }

  .main-page.share-unified-settings-entry-button__chevron-icon {
    forced-color-adjust: auto;
  }
}

/* 289 */
.main-page.share-creation-state__text-editor-redesigned .ql-editor {
  font-size: var(--font-size-large);
  font-weight: var(--font-weight-regular);
}

/* 294 */
.main-page.share-creation-state__redesigned-footer-divider {
  margin: var(--spacing-one-x) 0 0;
}

/* 302 */
.main-page.share-creation-state__promoted-detour-button-item {
  transition: width var(--duration-slow) var(--ease-accelerate);
}

/* 314 */
.main-page.share-creation-state__msg-wrapper {
  width: 100%;
}

/* 401 */
@media screen and (max-height: 600px) {
  .main-page.share-creation-state__footer {
    padding: 0.4rem 1.2rem 0.8rem;
  }

  .main-page.share-creation-state__additional-toolbar {
    padding: 0.8rem 1.2rem 0.4rem;
  }

  .main-page.share-creation-state__member-info {
    padding: 0.8rem 1.2rem;
  }

  .main-page.share-creation-state__preview-container,
  .main-page.share-creation-state__text-editor {
    margin: 0.8rem 1.2rem;
  }
}

/* 545 */
.main-page.share-promoted-detour-button {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border-radius: var(--corner-radius-full);
  width: 24px;
  height: 24px;
  color: var(--post-color-icon-promoted-ct-neutral);
}

.main-page.share-promoted-detour-button-legacy {
  width: 56px;
  height: 56px;
  margin-right: 0.8rem;
  background-color: var(--post-color-background-container-promoted-ct-neutral);
}

.main-page.share-promoted-detour-button:active:not(:disabled) {
  transform: scale(0.95);
}

.main-page.share-promoted-detour-button:disabled {
  opacity: 0.5;
  cursor: not-allowed;
}

.main-page.share-promoted-detour-button__icon-container {
  display: flex;
  padding: var(--spacing-one-and-a-half-x);
  border-radius: var(--corner-radius-full);
  transition: color var(--duration-fast) var(--ease-accelerate);
}

/* 579 */
.main-page.share-actions__primary-action {
  min-width: 60px;
}

/* 587 */
.main-page.share-actions__scheduled-post-btn {
  margin-right: 0.4rem;
  margin-left: auto;
}

/* 603 */
.main-page.share-unified-settings-entry-button:hover:not(:disabled),
.main-page.share-unified-settings-menu__actor-toggle:hover,
.main-page.share-unified-settings-menu__comment-control:hover {
  background-color: var(--color-background-none-tint-hover);
}

/* 635 */
.main-page.share-box {
  display: flex;
  flex-direction: column;
  height: 100%;
}

.main-page.share-box__guider-prompt--fade-in {
  animation: fade-in 834ms 1;
}

@media screen and (min-height: 601px) {
  .main-page.share-creation-state__share-box-v2 {
    max-height: calc(100vh - (160px + 64px + 64px));
  }

  .main-page.share-box-v2__modal-phoenix-redesign {
    max-height: calc(100vh - 1.6rem);
    overflow-y: visible;
  }
}

.main-page.share-box-v2__modal-height-full {
  max-height: 100%;
}

.main-page.share-box-v2__modal-redesigned-header {
  border-bottom: 0;
}

.main-page.share-box-v2__groups-disclaimer-btn {
  display: flex;
  margin-left: 0.8rem;
  color: var(--color-text-low-emphasis);
}

.main-page.share-box-v2__loading-error-feedback {
  padding: 2.4rem 0 2.4rem 1.6rem;
}

.main-page.share-box-v2__modal-content {
  padding: 0;
}

/* 708 */
.main-page.share-unified-settings-entry-button {
  text-align: left;
  padding: var(--spacing-one-and-a-half-x);
  max-width: calc((100% + var(--spacing-three-x) + var(--spacing-six-x)) / 2);
  box-sizing: content-box;
}

.main-page.share-unified-settings-entry-button:hover:not(:disabled) {
  border-radius: var(--corner-radius-large);
}

.main-page.share-unified-settings-entry-button:hover:not(:disabled)
  .share-unified-settings-entry-button__group-image {
  border-color: var(--color-background-container);
}

.main-page.share-unified-settings-entry-button:disabled {
  opacity: 0.5;
  cursor: not-allowed;
}

.main-page.share-unified-settings-entry-button__group-image {
  position: absolute;
  top: 28px;
  left: 28px;
  border: 2px solid var(--color-background-container);
}

.main-page.share-unified-settings-entry-button__lockup-content {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  margin-left: var(--spacing-half-x);
}

.main-page.share-unified-settings-entry-button__chevron-icon {
  color: var(--color-text-low-emphasis);
  margin-left: var(--spacing-one-x);
}
