/* 1115 */
label.forget_password {
  font-size: 1.4rem;
  line-height: 1.42857;
  font-weight: 400;
  color: rgba(0, 0, 0, 0.9);
  display: block;
  margin: 12px 0 3px;
}

/* 1171 */
input.forget_password[type="email"],
input.forget_password[type="password"],
input.forget_password[type="text"] {
  font-size: 1.4rem;
  line-height: 1.42857;
  font-weight: 400;
  -webkit-transition-duration: 334ms;
  transition-duration: 334ms;
  -webkit-transition-property: border-color, -webkit-box-shadow;
  transition-property: border-color, -webkit-box-shadow;
  transition-property: border-color, box-shadow;
  transition-property: border-color, box-shadow, -webkit-box-shadow;
  -webkit-box-shadow: none;
  box-shadow: none;
  border-radius: 2px;
  border: 1px solid rgba(0, 0, 0, 0.6);
  padding: 0 10px;
  width: 100%;
  outline: 0;
  height: 32px;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  background-color: transparent;
  color: rgba(0, 0, 0, 0.9);
}

input.forget_password[type="email"]::-webkit-input-placeholder,
input.forget_password[type="password"]::-webkit-input-placeholder,
input.forget_password[type="text"]::-webkit-input-placeholder {
  color: rgba(0, 0, 0, 0.6);
  opacity: 1;
}

input.forget_password[type="email"]:-moz-placeholder,
input.forget_password[type="password"]:-moz-placeholder,
input.forget_password[type="text"]:-moz-placeholder {
  color: rgba(0, 0, 0, 0.6);
  opacity: 1;
}

input.forget_password[type="email"]::-moz-placeholder,
input.forget_password[type="password"]::-moz-placeholder,
input.forget_password[type="text"]::-moz-placeholder {
  color: rgba(0, 0, 0, 0.6);
  opacity: 1;
}

input.forget_password[type="email"]:-ms-input-placeholder,
input.forget_password[type="password"]:-ms-input-placeholder,
input.forget_password[type="text"]:-ms-input-placeholder {
  color: rgba(0, 0, 0, 0.6);
  opacity: 1;
}

input.forget_password[type="email"]::-ms-input-placeholder,
input.forget_password[type="password"]::-ms-input-placeholder,
input.forget_password[type="text"]::-ms-input-placeholder {
  color: rgba(0, 0, 0, 0.6);
  opacity: 1;
}

input.forget_password[type="email"]::placeholder,
input.forget_password[type="password"]::placeholder,
input.forget_password[type="text"]::placeholder {
  color: rgba(0, 0, 0, 0.6);
  opacity: 1;
}

input.forget_password[type="email"]:hover,
input.forget_password[type="password"]:hover,
input.forget_password[type="text"]:hover {
  border-color: rgba(0, 0, 0, 0.9);
}

input.forget_password[type="email"]:focus,
input.forget_password[type="password"]:focus,
input.forget_password[type="text"]:focus {
  border-color: #0073b1;
  -webkit-box-shadow: 0 0 0 1px #0073b1;
  box-shadow: 0 0 0 1px #0073b1;
}

input.forget_password[type="email"][disabled],
input.forget_password[type="password"][disabled],
input.forget_password[type="text"][disabled] {
  opacity: 0.45;
}

input.forget_password[type="email"][disabled]:hover,
input.forget_password[type="password"][disabled]:hover,
input.forget_password[type="text"][disabled]:hover {
  border-color: rgba(0, 0, 0, 0.6);
}

input.forget_password[type="email"].error,
input.forget_password[type="password"].error,
input.forget_password[type="text"].error {
  border-color: #d11124;
}

/* 5383 */
.t-14 {
  font-size: 1.4rem;
  line-height: 1.42857;
}

/* 5465 */
#app__container.forget_password {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  min-height: 100vh;
  background-color: #fff;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
}

@media only screen and (max-width: 769px) {
  #app__container {
    background-color: #fff;
  }
}

/* 5483 */
.forget_password.app__content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-flex: 1;
  -ms-flex: 1;
  flex: 1;
  float: none;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  margin: 0 auto;
}

@media only screen and (max-width: 769px) {
  .forget_password.app__content {
    -webkit-box-pack: unset;
    -ms-flex-pack: unset;
    justify-content: unset;
    margin: unset;
  }
}

/* 5529 */
.forget_password.nav__container {
  float: left;
  margin: 32px 0 32px 56px;
}

@media only screen and (max-width: 769px) {
  .forget_password.nav__container {
    margin-left: 32px;
  }
}

/* 5540 */
.forget_password.nav__base {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  height: 52px;
}

@media only screen and (max-width: 769px) {
  .forget_password.nav__base {
    margin-bottom: 48px;
  }
}

.forget_password.nav__base .nav__container {
  position: relative;
  width: 100%;
  padding: 0 120px;
  margin: auto;

  /* added */
  display: flex;
  justify-items: center;
}

@media only screen and (max-width: 769px) {
  .forget_password.nav__base .nav__container {
    width: 100%;
    padding: 0 32px;
  }
}

.forget_password.nav__base .linkedin-logo li-icon {
  position: absolute;
}

.forget_password.nav__base .linkedin-logo li-icon svg path {
  fill: var(--color-brand, #0a66c2);
}

@media only screen and (max-width: 359px) {
  .forget_password.nav__base .linkedin-logo li-icon svg {
    -webkit-transform: translate(-80px, 0);
    transform: translate(-80px, 0);
  }
}

.forget_password.nav__base .nav__content {
  -ms-flex-preferred-size: 100%;
  flex-basis: 100%;
  text-align: right;
}

.forget_password.nav__base .nav__button__muted--signin {
  background-color: rgba(0, 0, 0, 0);
  border: 0;
  border-radius: 2px;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  color: rgba(0, 0, 0, 0.6);
  cursor: pointer;
  display: inline-block;
  font-size: 1.6rem;
  font-weight: 600;
  font-family: inherit;
  height: 32px;
  line-height: 32px;
  overflow: hidden;
  outline-width: 2px;
  padding: 0 8px;
  position: relative;
  text-align: center;
  text-decoration: none;
  -webkit-transition-duration: 167ms;
  transition-duration: 167ms;
  -webkit-transition-property: background-color, color, -webkit-box-shadow;
  transition-property: background-color, color, -webkit-box-shadow;
  transition-property: background-color, box-shadow, color;
  transition-property: background-color, box-shadow, color, -webkit-box-shadow;
  -webkit-transition-timing-function: cubic-bezier(0, 0, 0.2, 1);
  transition-timing-function: cubic-bezier(0, 0, 0.2, 1);
  vertical-align: middle;
  z-index: 0;
  border-radius: 28px !important;
  color: var(--color-text-low-emphasis, rgba(0, 0, 0, 0.6));
  margin-right: 12px;
}

@media only screen and (-ms-high-contrast: active) {
  .forget_password.nav__base .nav__button__muted--signin {
    border: 1px solid currentColor;
    line-height: 30px;
    border-width: 0;
    line-height: 32px;
  }
}

html.ie .forget_password.nav__base .nav__button__muted--signin:focus,
html.edge .forget_password.nav__base .nav__button__muted--signin:focus {
  outline: 1px dashed #7f7f7f;
}

.forget_password.nav__base .nav__button__muted--signin li-icon {
  top: 2px;
  -webkit-box-sizing: content-box;
  box-sizing: content-box;
  height: 16px;
  left: 0;
  margin: -12px 0 0 -6px;
  padding: 0 6px 0 0;
  position: relative;
  width: 16px;
}

.forget_password.nav__base .nav__button__muted--signin li-icon > svg {
  -webkit-transition: -webkit-transform 167ms;
  transition: -webkit-transform 167ms;
  transition: transform 167ms;
  transition: transform 167ms, -webkit-transform 167ms;
  -webkit-transition-timing-function: cubic-bezier(0, 0, 0.2, 1);
  transition-timing-function: cubic-bezier(0, 0, 0.2, 1);
  display: inline-block;
  vertical-align: top;
}

.edge .forget_password.nav__base .nav__button__muted--signin,
.ie .forget_password.nav__base .nav__button__muted--signin {
  border-radius: 0;
}

.forget_password.nav__base
  .nav__button__muted--signin:hover:not(:disabled):not(.disabled),
.forget_password.nav__base .nav__button__muted--signin.hover-not-disabled {
  background-color: rgba(207, 207, 207, 0.25);
  color: rgba(0, 0, 0, 0.75);
}

.forget_password.nav__base .nav__button__muted--signin:focus,
.forget_password.nav__base .nav__button__muted--signin.focus {
  background-color: rgba(207, 207, 207, 0.25);
  color: rgba(0, 0, 0, 0.75);
}

.forget_password.nav__base
  .nav__button__muted--signin:active:not(:disabled):not(.disabled),
.forget_password.nav__base .nav__button__muted--signin.active-not-disabled {
  background-color: rgba(207, 207, 207, 0.25);
  color: rgba(0, 0, 0, 0.9);
}

.forget_password.nav__base .nav__button__muted--signin:disabled,
.forget_password.nav__base .nav__button__muted--signin.disabled {
  color: rgba(0, 0, 0, 0.25);
  cursor: not-allowed;
}

.forget_password.nav__base .nav__button__muted--signin:hover {
  color: var(--color-text-low-emphasis, #000) !important;
}

.forget_password.nav__base .nav__button__medium--joinnow {
  background-color: rgba(0, 0, 0, 0);
  border: 0;
  border-radius: 2px;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  color: #0073b1;
  cursor: pointer;
  display: inline-block;
  font-size: 1.6rem;
  font-weight: 600;
  font-family: inherit;
  height: 32px;
  line-height: 32px;
  overflow: hidden;
  outline-width: 2px;
  padding: 0 16px;
  position: relative;
  text-align: center;
  text-decoration: none;
  -webkit-transition-duration: 167ms;
  transition-duration: 167ms;
  -webkit-transition-property: background-color, color, -webkit-box-shadow;
  transition-property: background-color, color, -webkit-box-shadow;
  transition-property: background-color, box-shadow, color;
  transition-property: background-color, box-shadow, color, -webkit-box-shadow;
  -webkit-transition-timing-function: cubic-bezier(0, 0, 0.2, 1);
  transition-timing-function: cubic-bezier(0, 0, 0.2, 1);
  vertical-align: middle;
  z-index: 0;
  -webkit-box-shadow: inset 0 0 0 1px #0073b1, inset 0 0 0 2px rgba(0, 0, 0, 0),
    inset 0 0 0 1px rgba(0, 0, 0, 0);
  box-shadow: inset 0 0 0 1px #0073b1, inset 0 0 0 2px rgba(0, 0, 0, 0),
    inset 0 0 0 1px rgba(0, 0, 0, 0);
  color: var(--color-action, #0a66c2) !important;
  -webkit-box-shadow: inset 0 0 0 1px var(--color-action, #0a66c2) !important;
  box-shadow: inset 0 0 0 1px var(--color-action, #0a66c2) !important;
  border-radius: 28px !important;
  margin-top: 0;
}

@media only screen and (-ms-high-contrast: active) {
  .forget_password.nav__base .nav__button__medium--joinnow {
    border: 1px solid currentColor;
    line-height: 30px;
  }
}

html.ie .forget_password.nav__base .nav__button__medium--joinnow:focus,
html.edge .forget_password.nav__base .nav__button__medium--joinnow:focus {
  outline: 1px dashed #7f7f7f;
}

.forget_password.nav__base .nav__button__medium--joinnow li-icon {
  top: 2px;
  -webkit-box-sizing: content-box;
  box-sizing: content-box;
  height: 16px;
  left: 0;
  margin: -12px 0 0 -6px;
  padding: 0 6px 0 0;
  position: relative;
  width: 16px;
}

.forget_password.nav__base .nav__button__medium--joinnow li-icon > svg {
  -webkit-transition: -webkit-transform 167ms;
  transition: -webkit-transform 167ms;
  transition: transform 167ms;
  transition: transform 167ms, -webkit-transform 167ms;
  -webkit-transition-timing-function: cubic-bezier(0, 0, 0.2, 1);
  transition-timing-function: cubic-bezier(0, 0, 0.2, 1);
  display: inline-block;
  vertical-align: top;
}

.edge .forget_password.nav__base .nav__button__medium--joinnow,
.ie .forget_password.nav__base .nav__button__medium--joinnow {
  border-radius: 0;
}

.forget_password.nav__base
  .nav__button__medium--joinnow:not(:disabled)[data-is-animating-click="true"],
.forget_password.nav__base
  .nav__button__medium--joinnow:hover:not(
    :disabled
  )[data-is-animating-click="true"] {
  -webkit-box-shadow: inset 0 0 0 1px #0073b1, inset 0 0 0 2px rgba(0, 0, 0, 0),
    inset 0 0 0 1px #004b7c;
  box-shadow: inset 0 0 0 1px #0073b1, inset 0 0 0 2px rgba(0, 0, 0, 0),
    inset 0 0 0 1px #004b7c;
}

.forget_password.nav__base
  .nav__button__medium--joinnow:hover:not(:disabled):not(.disabled),
.forget_password.nav__base .nav__button__medium--joinnow.hover-not-disabled {
  background-color: rgba(152, 216, 244, 0.25);
  color: #006097;
  -webkit-box-shadow: inset 0 0 0 1px #0073b1, inset 0 0 0 2px #006097,
    inset 0 0 0 1px rgba(0, 0, 0, 0);
  box-shadow: inset 0 0 0 1px #0073b1, inset 0 0 0 2px #006097,
    inset 0 0 0 1px rgba(0, 0, 0, 0);
}

.forget_password.nav__base .nav__button__medium--joinnow:focus,
.forget_password.nav__base .nav__button__medium--joinnow.focus {
  background-color: rgba(152, 216, 244, 0.25);
  color: #006097;
  -webkit-box-shadow: inset 0 0 0 1px #0073b1, inset 0 0 0 2px #006097,
    inset 0 0 0 1px rgba(0, 0, 0, 0);
  box-shadow: inset 0 0 0 1px #0073b1, inset 0 0 0 2px #006097,
    inset 0 0 0 1px rgba(0, 0, 0, 0);
}

.forget_password.nav__base
  .nav__button__medium--joinnow:active:not(:disabled):not(.disabled),
.forget_password.nav__base .nav__button__medium--joinnow.active-not-disabled {
  background-color: rgba(152, 216, 244, 0.45);
  color: #004b7c;
}

.forget_password.nav__base .nav__button__medium--joinnow:disabled,
.forget_password.nav__base .nav__button__medium--joinnow.disabled {
  color: rgba(0, 115, 177, 0.35);
  -webkit-box-shadow: inset 0 0 0 1px rgba(0, 115, 177, 0.35);
  box-shadow: inset 0 0 0 1px rgba(0, 115, 177, 0.35);
  cursor: not-allowed;
}

.forget_password.nav__base .nav__button__medium--joinnow:hover {
  background: var(
    --color-background-none-tint-action-active,
    #d0e8ff
  ) !important;
  -webkit-box-shadow: inset 0 0 0 2px var(--color-action, #0a66c2) !important;
  box-shadow: inset 0 0 0 2px var(--color-action, #0a66c2) !important;
}

.forget_password.nav__base .nav_button_section {
  height: auto;
  line-height: 3.2rem;
  color: var(--color-text-low-emphasis, rgba(0, 0, 0, 0.6));
}

.forget_password.nav__base .circle-entity-photo {
  width: 32px;
  height: 32px;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  background-clip: content-box;
  border: 3px solid rgba(0, 0, 0, 0);
  border-radius: 49.9%;
  top: -4px;
  right: 12px;
}

.forget_password.nav__base .circle-entity-photo--ghost {
  width: 32px;
  height: 32px;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  background-clip: content-box;
  border: 3px solid rgba(0, 0, 0, 0);
  background-image: url("/sc/h/efkb5179rslll10nmhystl3wx");
  border-radius: 49.9%;
  background-color: #cfcfcf;
  display: inline-block;
  top: -4px;
  right: 12px;
  display: inline-block;
  margin-left: 16px;
}

@media only screen and (-ms-high-contrast: active) {
  .forget_password.nav__base .circle-entity-photo--ghost {
    background-image: none;
  }

  .forget_password.nav__base .circle-entity-photo--ghost:after {
    content: url("/sc/h/efkb5179rslll10nmhystl3wx");
    height: 100%;
  }
}

.forget_password.nav__base--logged-in {
  background-color: rgba(0, 0, 0, 0);
  border: 0;
  border-radius: 2px;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  color: #0073b1;
  cursor: pointer;
  display: inline-block;
  font-size: 1.6rem;
  font-weight: 600;
  font-family: inherit;
  height: 32px;
  line-height: 32px;
  overflow: hidden;
  outline-width: 2px;
  padding: 0 8px;
  position: relative;
  text-align: center;
  text-decoration: none;
  -webkit-transition-duration: 167ms;
  transition-duration: 167ms;
  -webkit-transition-property: background-color, color, -webkit-box-shadow;
  transition-property: background-color, color, -webkit-box-shadow;
  transition-property: background-color, box-shadow, color;
  transition-property: background-color, box-shadow, color, -webkit-box-shadow;
  -webkit-transition-timing-function: cubic-bezier(0, 0, 0.2, 1);
  transition-timing-function: cubic-bezier(0, 0, 0.2, 1);
  vertical-align: middle;
  z-index: 0;
  color: var(--color-action, #0a66c2) !important;
  border-radius: 28px !important;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  color: #fff;
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  margin-top: 0;
}

@media only screen and (-ms-high-contrast: active) {
  .forget_password.nav__base--logged-in {
    border: 1px solid currentColor;
    line-height: 30px;
    border-width: 0;
    line-height: 32px;
  }
}

html.ie .forget_password.nav__base--logged-in:focus,
html.edge .forget_password.nav__base--logged-in:focus {
  outline: 1px dashed #7f7f7f;
}

.forget_password.nav__base--logged-in li-icon {
  top: 2px;
  -webkit-box-sizing: content-box;
  box-sizing: content-box;
  height: 16px;
  left: 0;
  margin: -12px 0 0 -6px;
  padding: 0 6px 0 0;
  position: relative;
  width: 16px;
}

.forget_password.nav__base--logged-in li-icon > svg {
  -webkit-transition: -webkit-transform 167ms;
  transition: -webkit-transform 167ms;
  transition: transform 167ms;
  transition: transform 167ms, -webkit-transform 167ms;
  -webkit-transition-timing-function: cubic-bezier(0, 0, 0.2, 1);
  transition-timing-function: cubic-bezier(0, 0, 0.2, 1);
  display: inline-block;
  vertical-align: top;
}

.edge .forget_password.nav__base--logged-in,
.ie .forget_password.nav__base--logged-in {
  border-radius: 0;
}

.forget_password.nav__base--logged-in:hover:not(:disabled):not(.disabled),
.forget_password.nav__base--logged-in.hover-not-disabled {
  background-color: rgba(152, 216, 244, 0.25);
  color: #006097;
}

.forget_password.nav__base--logged-in:focus,
.forget_password.nav__base--logged-in.focus {
  background-color: rgba(152, 216, 244, 0.25);
  color: #006097;
}

.forget_password.nav__base--logged-in:active:not(:disabled):not(.disabled),
.forget_passwordnav__base--logged-in.active-not-disabled {
  background-color: rgba(152, 216, 244, 0.45);
  color: #004b7c;
}

.forget_password.nav__base--logged-in:disabled,
.forget_password.nav__base--logged-in.disabled {
  color: rgba(0, 115, 177, 0.35);
  cursor: not-allowed;
}

.forget_password.nav__base--logged-in:hover {
  background: var(
    --color-background-none-tint-action-active,
    #d0e8ff
  ) !important;
}

.forget_password.nav__base--logged-in:visited {
  color: #fff;
}

.forget_password.nav__base--logged-in:hover {
  text-decoration: none;
}

.forget_password.nav__base--logged-in img {
  margin-left: 8px;
}

/* 6148 */
.forget_password.card-layout {
  width: 352px;
  -webkit-box-shadow: 0 4px 12px rgba(0, 0, 0, 0.15);
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.15);
  padding: 24px;
  border-radius: 8px;
  margin: 0 auto;
  background: var(--color-background-container, #fff);
}

@media only screen and (max-width: 769px) {
  .forget_password.card-layout {
    width: 100%;
    max-width: 416px;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    -webkit-box-shadow: unset;
    box-shadow: unset;
    padding: 0 32px;
  }
}

/* 6170 */
.forget_password.form__input--floating {
  position: relative;
  background-color: #fff;
}

.forget_password.form__input--floating * {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

.forget_password.form__input--floating > label {
  font-size: 1.8rem;
  line-height: 1.33333;
  font-weight: 400;
  color: rgba(0, 0, 0, 0.6);
  position: absolute;
  top: 0;
  left: 0;
  padding: 14px 0 0 12px;
  margin: 0;
  -webkit-transition: 0.2s all;
  transition: 0.2s all;
}

.forget_password.form__input--floating > input {
  font-size: 1.8rem;
  line-height: 1.33333;
  font-weight: 400;
  color: rgba(0, 0, 0, 0.9);
  position: relative;
  z-index: 1;
  height: 52px;
  padding: 28px 12px 6px;
  border-radius: 4px !important;
}

.forget_password.form__input--floating > input .form__label--floating--IE {
  top: -10px;
  font-size: 1.4rem;
  line-height: 1.42857;
  font-weight: 400;
  color: rgba(0, 0, 0, 0.9);
}

.forget_password.form__input--floating > input:focus + label {
  top: -10px;
  font-size: 1.4rem;
  line-height: 1.42857;
  font-weight: 400;
  color: rgba(0, 0, 0, 0.9);
}

.forget_password.form__input--floating > input:valid + label {
  top: -10px;
  font-size: 1.4rem;
  line-height: 1.42857;
  font-weight: 400;
  color: rgba(0, 0, 0, 0.9);
}

.forget_password.form__input--floating > input:active + label {
  top: -10px;
  font-size: 1.4rem;
  line-height: 1.42857;
  font-weight: 400;
  color: rgba(0, 0, 0, 0.9);
}

.forget_password.form__input--floating > input:-webkit-autofill + label {
  top: -10px;
  font-size: 1.4rem;
  line-height: 1.42857;
  font-weight: 400;
  color: rgba(0, 0, 0, 0.9);
}

.forget_password.form__input--floating > input:-webkit-autofill {
  z-index: 0;
}

.forget_password.form__input--floating > input#password {
  padding-right: 52px;
}

.forget_password.form__input--floating > input#password::-ms-reveal {
  display: none;
}

.forget_password.form__input--floating .force-float {
  top: -10px;
  font-size: 1.4rem;
  line-height: 1.42857;
  font-weight: 400;
  color: rgba(0, 0, 0, 0.9);
}

.mt-24 {
  margin-top: 24px;
}

/* 6206 */
.forget_password.form__input--floating > input .form__label--floating--IE {
  top: -10px;
  font-size: 1.4rem;
  line-height: 1.42857;
  font-weight: 400;
  color: rgba(0, 0, 0, 0.9);
}

/* 6338 */
.forget_password.form__content {
  width: 100%;
  max-width: 430px;
  text-align: left;
  margin-top: 32px;
}

/* 6345 */
.forget_password.form__action {
  margin-top: 32px;
}

/* 6487 */
.forget_password.form__submit {
  background-color: #0073b1;
  border: 0;
  border-radius: 2px;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  color: #fff;
  cursor: pointer;
  display: inline-block;
  font-size: 1.6rem;
  font-weight: 600;
  font-family: inherit;
  height: 40px;
  line-height: 40px;
  overflow: hidden;
  outline-width: 2px;
  padding: 0 24px;
  position: relative;
  text-align: center;
  text-decoration: none;
  -webkit-transition-duration: 167ms;
  transition-duration: 167ms;
  -webkit-transition-property: background-color, color, -webkit-box-shadow;
  transition-property: background-color, color, -webkit-box-shadow;
  transition-property: background-color, box-shadow, color;
  transition-property: background-color, box-shadow, color, -webkit-box-shadow;
  -webkit-transition-timing-function: cubic-bezier(0, 0, 0.2, 1);
  transition-timing-function: cubic-bezier(0, 0, 0.2, 1);
  vertical-align: middle;
  z-index: 0;
  background: var(--color-action, #0a66c2) !important;
  border-radius: 28px !important;
  display: block;
  width: 100%;
  height: 52px;
}

@media only screen and (-ms-high-contrast: active) {
  .forget_password.form__submit {
    border: 1px solid currentColor;
    line-height: 38px;
  }
}

html.ie .forget_password.form__submit:focus,
html.edge .forget_password.form__submit:focus {
  outline: 1px dashed #7f7f7f;
}

.edge .forget_password.form__submit,
.ie .forget_password.form__submit {
  border-radius: 0;
}

.forget_password.form__submit:hover:not(:disabled):not(.disabled),
.forget_password.form__submit.hover-not-disabled {
  background-color: #006097;
  color: #fff;
}

.forget_password.form__submit:focus,
.forget_password.form__submit.focus {
  background-color: #006097;
  color: #fff;
}

.forget_password.form__submit:active:not(:disabled):not(.disabled),
.forget_password.form__submit.active-not-disabled {
  background-color: #004b7c;
  color: #fff;
}

.forget_password.form__submit:disabled,
.forget_password.form__submit.disabled {
  color: rgba(255, 255, 255, 0.45);
  background-color: rgba(0, 115, 177, 0.35);
  cursor: not-allowed;
}

.forget_password.form__submit:hover {
  background: var(--color-action-active, #004182) !important;
}

/* 7263 */
.forget_password.back_button {
  background-color: rgba(0, 0, 0, 0);
  border: 0;
  border-radius: 2px;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  color: rgba(0, 0, 0, 0.6);
  cursor: pointer;
  display: inline-block;
  font-size: 1.6rem;
  font-weight: 600;
  font-family: inherit;
  height: 32px;
  line-height: 32px;
  overflow: hidden;
  outline-width: 2px;
  padding: 0 8px;
  position: relative;
  text-align: center;
  text-decoration: none;
  -webkit-transition-duration: 167ms;
  transition-duration: 167ms;
  -webkit-transition-property: background-color, color, -webkit-box-shadow;
  transition-property: background-color, color, -webkit-box-shadow;
  transition-property: background-color, box-shadow, color;
  transition-property: background-color, box-shadow, color, -webkit-box-shadow;
  -webkit-transition-timing-function: cubic-bezier(0, 0, 0.2, 1);
  transition-timing-function: cubic-bezier(0, 0, 0.2, 1);
  vertical-align: middle;
  z-index: 0;
  border-radius: 28px !important;
  display: block;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  border-radius: 28px !important;
  margin: 12px auto 0;
}

@media only screen and (-ms-high-contrast: active) {
  .forget_password.back_button {
    border: 1px solid currentColor;
    line-height: 30px;
    border-width: 0;
    line-height: 32px;
  }
}

html.ie .forget_password.back_button:focus,
html.edge .forget_password.back_button:focus {
  outline: 1px dashed #7f7f7f;
}

.edge .forget_password.back_button,
.ie .forget_password.back_button {
  border-radius: 0;
}

.forget_password.back_button:hover:not(:disabled):not(.disabled),
.forget_password.back_button.hover-not-disabled {
  background-color: rgba(207, 207, 207, 0.25);
  color: rgba(0, 0, 0, 0.75);
}

.forget_password.back_button:focus,
.forget_password.back_button.focus {
  background-color: rgba(207, 207, 207, 0.25);
  color: rgba(0, 0, 0, 0.75);
}

.forget_password.back_button:active:not(:disabled):not(.disabled),
.forget_password.back_button.active-not-disabled {
  background-color: rgba(207, 207, 207, 0.25);
  color: rgba(0, 0, 0, 0.9);
}

.forget_password.back_button:disabled,
.forget_password.back_button.disabled {
  color: rgba(0, 0, 0, 0.25);
  cursor: not-allowed;
}

.forget_password.back_button:hover {
  /* added */
  color: #000 !important;
  text-decoration: underline;
}

/* 7483 */
.forget_password.header__content .header__content__heading {
  font-size: 3.2rem;
  line-height: 1.25;
  font-weight: 600;
  color: rgba(0, 0, 0, 0.9);
  padding: 0 0 4px 0;
}

.forget_password.header__content .header__content__heading--medium {
  font-size: 2.4rem;
  line-height: 1.33333;
  font-weight: 600;
  color: rgba(0, 0, 0, 0.9);
  padding: 0 0 4px 0;
}

.forget_password.header__content .header__content__subheading {
  font-size: 1.4rem;
  line-height: 1.42857;
  font-weight: 400;
  color: rgba(0, 0, 0, 0.9);
}

.forget_password.header__content .header__content__subheading__bold {
  font-size: 1.4rem;
  line-height: 1.42857;
  font-weight: 600;
  color: rgba(0, 0, 0, 0.9);
}

.forget_password.header__content .content__description {
  font-size: 1.4rem;
  line-height: 1.42857;
  font-weight: 400;
  color: rgba(0, 0, 0, 0.9);
  margin-top: 12px;
}

.forget_password.header__content .content__description--mt8 {
  margin-top: 8px;
}

.forget_password.header__content .content__description--mt20 {
  margin-top: 20px;
}

.forget_password.header__content .content__description--mt24 {
  margin-top: 24px;
}

.forget_password.header__content .header__content__subheading__black {
  font-size: 1.8rem;
  line-height: 1.55556;
  font-weight: 400;
  color: rgba(0, 0, 0, 0.6);
}

/* 7546 */
.forget_password.reset__password__form input:focus {
  -webkit-box-shadow: 0 0 0 1px var(--color-action, #0a66c2);
  box-shadow: 0 0 0 1px var(--color-action, #0a66c2);
}

.forget_password.reset__password__form input.form__input--error {
  -webkit-box-shadow: none;
  box-shadow: none;
  border: solid #d11124 2px;
  margin: 0;
}

.forget_password.reset__password__form input.form__input--error + label {
  color: #d11124;
}

.forget_password.reset__password__form .form__label--error {
  font-size: 1.4rem;
  line-height: 1.42857;
  font-weight: 600;
  color: rgba(0, 0, 0, 0.9);
  margin: 4px 0 0 0;
  text-align: left;
  color: #d11124;
  font-weight: 500;
}

.forget_password.reset__password__form .form__label--error--link {
  font-size: 1.4rem;
  line-height: 1.42857;
  font-weight: 600;
  color: rgba(0, 0, 0, 0.9);
  color: #d11124;
  text-decoration: underline;
  font-weight: bold;
}

.forget_password.reset__password__form .form__label--error--link:active,
.forget_password.reset__password__form .form__label--error--link:visited,
.forget_password.reset__password__form .form__label--error--link:focus {
  font-size: 1.4rem;
  line-height: 1.42857;
  font-weight: 600;
  color: rgba(0, 0, 0, 0.9);
  color: #d11124;
  text-decoration: underline;
  font-weight: bold;
}

.forget_password.reset__password__form .form__label--error--button {
  font-size: 1.4rem;
  line-height: 1.42857;
  font-weight: 600;
  color: rgba(0, 0, 0, 0.9);
  color: #d11124;
  text-decoration: underline;
  font-weight: bold;
  cursor: pointer;
  width: -webkit-max-content;
  width: -moz-max-content;
  width: max-content;
}

.forget_password.reset__password__form .form__label--error--margin {
  margin-bottom: 20px;
}
