/* 182 */
.homepage.nav__logo-link {
  margin: var(--artdeco-reset-base-margin-zero);
  padding: var(--artdeco-reset-base-padding-zero);
  font-size: var(--artdeco-reset-base-font-size-hundred-percent);
  vertical-align: var(--artdeco-reset-base-vertical-align-baseline);
  background: var(--artdeco-reset-base-background-transparent);
}

/* 319 */
.homepage.nav__logo-link {
  -webkit-text-decoration: var(--artdeco-reset-link-text-decoration-none);
  text-decoration: var(--artdeco-reset-link-text-decoration-none);
  font-weight: var(--artdeco-reset-link-font-weight-bold);
  background-color: var(--artdeco-reset-link-background-color-transparent);
  border: var(--artdeco-reset-link-border-zero);
  color: var(--artdeco-reset-link-color-blue7);
}
.homepage.nav__logo-link:visited {
  color: var(--artdeco-reset-link-color-blue7);
}
.homepage.nav__logo-link:hover,
.homepage.nav__logo-link:focus {
  -webkit-text-decoration: var(--artdeco-reset-link-text-decoration-underline);
  text-decoration: var(--artdeco-reset-link-text-decoration-underline);
  color: var(--artdeco-reset-link-color-blue8);
}
.homepage.nav__logo-link:active {
  color: var(--artdeco-reset-link-color-blue9);
}
.homepage.nav__logo-link:visited {
  color: var(--artdeco-reset-link-color-purple7);
}
.homepage.nav__logo-link:visited:hover {
  color: var(--artdeco-reset-link-color-purple8);
}
.homepage.nav__logo-link:visited:active {
  color: var(--artdeco-reset-link-color-purple9);
}

/* 464 */
.homepage.screen-reader-text,
.homepage.sr-only {
  border: 0 !important;
  clip: rect(1px, 1px, 1px, 1px);
  height: 1px !important;
  overflow: hidden;
  padding: 0 !important;
  position: absolute !important;
  white-space: nowrap !important;
  width: 1px !important;
}

/* 1635 */
.homepage.nav__logo-link {
  -webkit-text-decoration: var(--artdeco-reset-link-text-decoration-none);
  text-decoration: var(--artdeco-reset-link-text-decoration-none);
  font-weight: var(--artdeco-reset-link-font-weight-bold);
  background-color: var(--artdeco-reset-link-background-color-transparent);
  border: var(--artdeco-reset-link-border-zero);
  color: var(--artdeco-reset-link-color-blue7);
  text-decoration: none;
}
.homepage.nav__logo-link:visited {
  color: var(--artdeco-reset-link-color-blue7);
}
.homepage.nav__logo-link:hover,
.homepage.nav__logo-link:focus {
  -webkit-text-decoration: var(--artdeco-reset-link-text-decoration-underline);
  text-decoration: var(--artdeco-reset-link-text-decoration-underline);
  color: var(--artdeco-reset-link-color-blue8);
}
.homepage.nav__logo-link:active {
  color: var(--artdeco-reset-link-color-blue9);
}
.homepage.nav__logo-link:visited {
  color: var(--artdeco-reset-link-color-purple7);
}
.homepage.nav__logo-link:visited:hover {
  color: var(--artdeco-reset-link-color-purple8);
}
.homepage.nav__logo-link:visited:active {
  color: var(--artdeco-reset-link-color-purple9);
}
.homepage.nav__logo-link,
.homepage.nav__logo-link:focus,
.homepage.nav__logo-link:hover {
  color: #0a66c2;
}
.homepage.nav__logo-link:active {
  color: #004182;
}
.homepage.nav__logo-link:visited,
.homepage.nav__logo-link:visited:hover {
  color: #8344cc;
}
.homepage.nav__logo-link:visited:active {
  color: #592099;
}
.homepage.nav__logo-link:hover {
  text-decoration: underline;
}

/* 3599 */
.homepage.nav {
  max-width: 1128px;
  margin: auto;
}
@media (max-width: 1161px) and (min-width: 769px) {
  .homepage.nav {
    padding-left: 16px;
    padding-right: 16px;
  }
}
@media (max-width: 769px) {
  .homepage.nav {
    padding-left: 16px;
    padding-right: 16px;
  }
}

/* 3615 */
.homepage.nav .nav__button-tertiary--no-margin-right {
  margin-right: 0;
}
.homepage.nav .nav__button-tertiary--no-margin-left {
  margin-left: 0;
}

/* 3736 */
.homepage.btn-md {
  height: min-content;
  min-height: 48px;
  border-radius: 24px;
  padding-top: 12px;
  padding-bottom: 12px;
  padding-left: 24px;
  padding-right: 24px;
  text-align: center;
  font-size: 16px;
  font-weight: 600;
  line-height: 1.25;
}
.homepage.btn-md,
.homepage.btn-md:visited,
.homepage.btn-md:focus {
  cursor: pointer;
  text-decoration-line: none;
}
.homepage.btn-md:hover,
.homepage.btn-md:visited:hover {
  text-decoration-line: none;
}
.homepage.btn-md:disabled {
  cursor: not-allowed;
}

/* 3801 */
.homepage.btn-primary,
.homepage.btn-primary:visited,
.homepage.btn-primary:focus {
  box-shadow: 0 0 0 1px var(--color-button-container-primary-border);
  background-color: var(--color-button-container-primary);
  color: var(--color-button-label-primary);
}
.homepage.\!btn-primary,
.homepage.\!btn-primary:visited,
.homepage.\!btn-primary:focus {
  box-shadow: 0 0 0 1px var(--color-button-container-primary-border) !important;
  background-color: var(--color-button-container-primary) !important;
  color: var(--color-button-label-primary) !important;
}
.homepage.btn-primary:hover,
.homepage.btn-primary:visited:hover {
  box-shadow: 0 0 0 1px var(--color-button-container-primary-border);
  background-color: var(--color-button-container-primary-hover);
  color: var(--color-button-label-primary-hover);
}
.homepage.\!btn-primary:hover,
.homepage.\!btn-primary:visited:hover {
  box-shadow: 0 0 0 1px var(--color-button-container-primary-border) !important;
  background-color: var(--color-button-container-primary-hover) !important;
  color: var(--color-button-label-primary-hover) !important;
}
.homepage.btn-primary:active {
  box-shadow: 0 0 0 1px var(--color-button-container-primary-border);
  background-color: var(--color-button-container-primary-active);
  color: var(--color-button-label-primary-active);
}
.homepage.\!btn-primary:active {
  box-shadow: 0 0 0 1px var(--color-button-container-primary-border) !important;
  background-color: var(--color-button-container-primary-active) !important;
  color: var(--color-button-label-primary-active) !important;
}
.homepage.btn-primary:disabled {
  box-shadow: 0 0 0 1px var(--color-button-container-primary-border);
  background-color: var(--color-button-container-primary-disabled);
  color: var(--color-button-label-primary-disabled);
}
.homepage.\!btn-primary:disabled {
  box-shadow: 0 0 0 1px var(--color-button-container-primary-border) !important;
  background-color: var(--color-button-container-primary-disabled) !important;
  color: var(--color-button-label-primary-disabled) !important;
}

/* 3847 */
.homepage.btn-secondary,
.homepage.btn-secondary:visited,
.homepage.btn-secondary:focus {
  box-shadow: 0 0 0 1px var(--color-button-container-secondary-border);
  background-color: var(--color-button-container-secondary);
  color: var(--color-button-label-secondary);
}
.homepage.btn-secondary:hover,
.homepage.btn-secondary:visited:hover {
  box-shadow: 0 0 0 1px var(--color-button-container-secondary-border);
  background-color: var(--color-button-container-secondary-hover);
  color: var(--color-button-label-secondary-hover);
}
.homepage.btn-secondary:active {
  box-shadow: 0 0 0 1px var(--color-button-container-secondary-border-active);
  background-color: var(--color-button-container-secondary-active);
  color: var(--color-button-label-secondary-active);
}
.homepage.btn-secondary:disabled {
  box-shadow: 0 0 0 1px var(--color-button-container-secondary-border-disabled);
  background-color: var(--color-button-container-secondary-disabled);
  color: var(--color-button-label-secondary-disabled);
}
.homepage.btn-secondary-emphasis,
.homepage.btn-secondary-emphasis:visited,
.homepage.btn-secondary-emphasis:focus {
  box-shadow: 0 0 0 1px var(--color-button-container-secondary-emphasis-border);
  background-color: var(--color-button-container-secondary-emphasis);
  color: var(--color-button-label-secondary-emphasis);
}
.homepage.\!btn-secondary-emphasis,
.homepage.\!btn-secondary-emphasis:visited,
.homepage.\!btn-secondary-emphasis:focus {
  box-shadow: 0 0 0 1px var(--color-button-container-secondary-emphasis-border) !important;
  background-color: var(--color-button-container-secondary-emphasis) !important;
  color: var(--color-button-label-secondary-emphasis) !important;
}
.homepage.btn-secondary-emphasis:hover,
.homepage.btn-secondary-emphasis:visited:hover {
  box-shadow: 0 0 0 1px var(--color-button-container-secondary-emphasis-border);
  background-color: var(--color-button-container-secondary-emphasis-hover);
  color: var(--color-button-label-secondary-emphasis-hover);
}
.homepage.\!btn-secondary-emphasis:hover,
.homepage.\!btn-secondary-emphasis:visited:hover {
  box-shadow: 0 0 0 1px var(--color-button-container-secondary-emphasis-border) !important;
  background-color: var(
    --color-button-container-secondary-emphasis-hover
  ) !important;
  color: var(--color-button-label-secondary-emphasis-hover) !important;
}
.homepage.btn-secondary-emphasis:active {
  box-shadow: 0 0 0 1px
    var(--color-button-container-secondary-emphasis-border-active);
  background-color: var(--color-button-container-secondary-emphasis-active);
  color: var(--color-button-label-secondary-emphasis-active);
}
.homepage.\!btn-secondary-emphasis:active {
  box-shadow: 0 0 0 1px
    var(--color-button-container-secondary-emphasis-border-active) !important;
  background-color: var(
    --color-button-container-secondary-emphasis-active
  ) !important;
  color: var(--color-button-label-secondary-emphasis-active) !important;
}
.homepage.btn-secondary-emphasis:disabled {
  box-shadow: 0 0 0 1px
    var(--color-button-container-secondary-emphasis-border-disabled);
  background-color: var(--color-button-container-secondary-emphasis-disabled);
  color: var(--color-button-label-secondary-emphasis-disabled);
}
.homepage.\!btn-secondary-emphasis:disabled {
  box-shadow: 0 0 0 1px
    var(--color-button-container-secondary-emphasis-border-disabled) !important;
  background-color: var(
    --color-button-container-secondary-emphasis-disabled
  ) !important;
  color: var(--color-button-label-secondary-emphasis-disabled) !important;
}

/* 3926 */
.homepagebtn-tertiary,
.homepage.btn-tertiary:visited,
.homepage.btn-tertiary:focus {
  box-shadow: 0 0 0 1px var(--color-button-container-tertiary-border);
  background-color: var(--color-button-container-tertiary);
  color: var(--color-button-label-tertiary);
}
.homepage.btn-tertiary:hover,
.homepage.btn-tertiary:visited:hover {
  box-shadow: 0 0 0 1px var(--color-button-container-tertiary-border);
  background-color: var(--color-button-container-tertiary-hover);
  color: var(--color-button-label-tertiary-hover);
}
.homepage.btn-tertiary:active {
  box-shadow: 0 0 0 1px var(--color-button-container-tertiary-border-active);
  background-color: var(--color-button-container-tertiary-active);
  color: var(--color-button-label-tertiary-active);
}
.homepage.btn-tertiary:disabled {
  box-shadow: 0 0 0 1px var(--color-button-container-tertiary-border-disabled);
  background-color: var(--color-button-container-tertiary-disabled);
  color: var(--color-button-label-tertiary-disabled);
}

/* 4132 */
.homepage.input-label {
  color: var(--color-input-label);
  font-family: -apple-system, system-ui, BlinkMacSystemFont, "Segoe UI", Roboto,
    "Helvetica Neue", "Fira Sans", Ubuntu, Oxygen, "Oxygen Sans", Cantarell,
    "Droid Sans", "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Emoji",
    "Segoe UI Symbol", "Lucida Grande", Helvetica, Arial, sans-serif;
  font-size: 14px;
  font-weight: 600;
}

/* 4150 */
.homepage.link,
.homepage.link:link {
  font-weight: 600;
  color: var(--color-link);
}
.homepage.link:hover,
.homepage.link:link:hover {
  color: var(--color-link-hover);
}
.homepage.link:active,
.homepage.link:link:active {
  color: var(--color-link-active);
}
.homepage.link:visited,
.homepage.link:link:visited {
  color: var(--color-link-visited);
}
.homepage.link:visited:hover,
.homepage.link:link:visited:hover {
  color: var(--color-link-visited-hover);
}
.homepage.link:visited:active,
.homepage.link:link:visited:active {
  color: var(--color-link-visited-active);
}

/* 4175 */
.homepage.link-no-visited-state:visited,
.homepage.link-no-visited-state:link,
.homepage.link-no-visited-state:link:visited {
  font-weight: 600;
  color: var(--color-link);
}
.homepage.link-no-visited-state:hover,
.homepage.link-no-visited-state:visited:hover,
.homepage.link-no-visited-state:link:hover,
.homepage.link-no-visited-state:link:visited:hover {
  color: var(--color-link-hover);
}
.homepage.link-no-visited-state:active,
.homepage.link-no-visited-state:visited:active,
.homepage.link-no-visited-state:link:active,
.homepage.link-no-visited-state:link:visited:active {
  color: var(--color-link-active);
}

/* 4718 */
.homepage.text-input {
  background-color: var(--color-input-container);
  border-color: var(--color-input-container-border);
  color: var(--color-input-value);
  border-radius: 4px;
  border-width: 1px;
  border-style: solid;
  padding-left: 16px;
  padding-right: 16px;
  padding-top: 14px;
  padding-bottom: 14px;
  font-family: -apple-system, system-ui, BlinkMacSystemFont, "Segoe UI", Roboto,
    "Helvetica Neue", "Fira Sans", Ubuntu, Oxygen, "Oxygen Sans", Cantarell,
    "Droid Sans", "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Emoji",
    "Segoe UI Symbol", "Lucida Grande", Helvetica, Arial, sans-serif;
  font-size: 16px;
}
.homepage.text-input:hover {
  background-color: var(--color-input-container-hover);
  border-color: var(--color-input-container-border-hover);
  box-shadow: 0 0 0 1px var(--color-input-container-border-hover);
  cursor: pointer;
  border-width: 1px;
}
.homepage.text-input:active {
  background-color: var(--color-input-container-active);
  border-color: var(--color-input-container-border-active);
  cursor: pointer;
  border-width: 1px;
}
.homepage.text-input:disabled,
.homepage.text-input:disabled:hover,
.homepage.text-input:disabled:focus,
.homepage.text-input:disabled:active {
  background-color: var(--color-input-container-disabled);
  border-color: var(--color-input-container-border-disabled);
  color: var(--color-input-value-disabled);
  cursor: not-allowed;
  border-width: 1px;
  --tw-shadow: 0 0 #0000;
  --tw-shadow-colored: 0 0 #0000;
  box-shadow: var(--tw-ring-offset-shadow, 0 0 #0000),
    var(--tw-ring-shadow, 0 0 #0000), var(--tw-shadow);
}

/* 5761 */
.homepage.sign-in-form__footer--full-width {
  flex-direction: column;
}

/* 5765 */
.homepage.sign-in-form__forgot-password--full-width {
  margin-top: 16px;
  margin-bottom: 16px;
  width: fit-content;
}

/* 5775 */
.homepage.sign-in-form__submit-btn--full-width {
  margin-top: 8px;
  margin-bottom: 8px;
}

/* 7707 */
.homepage.mx-auto {
  margin-left: auto;
  margin-right: auto;
}

/* 7286 */
.homepage.sr-only {
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  white-space: nowrap;
  border-width: 0;
}

/* 7321 */
.homepage.relative {
  position: relative;
}

.homepage.z-\[-1\] {
  z-index: -1;
}

/* 7547 */
.homepage.z-1 {
  z-index: 100;
}

/* 7553 */
.homepage.z-10 {
  z-index: 1000;
}

/* 7610 */
.homepage.order-1 {
  order: 1;
}

/* 7613 */
.homepage.order-3 {
  order: 3;
}

/* 7699 */
.homepage.mx-1 {
  margin-left: 8px;
  margin-right: 8px;
}

.homepage.mb-3 {
  margin-bottom: 24px;
}

/* 7812 */
.homepage.mr-auto {
  margin-right: auto;
}

/* 7872 */
.homepage.mb-1 {
  margin-bottom: 8px;
}

/* 7944 */
.homepage.mr-0\.5 {
  margin-right: 4px;
}

/* 7959 */
.homepage.mt-1\.5 {
  margin-top: 12px;
}

/* 7989 */
.homepage.ml-\[12px\] {
  margin-left: 12px;
}

/* 8103 */
.homepage.block {
  display: block;
}

/* 8121 */
.homepage.flex {
  display: flex;
}

/* 8145 */
.homepage.h-\[21px\] {
  height: 21px;
}

/* 8208 */
.homepage.h-3 {
  height: 24px;
}

.homepage.h-\[560px\] {
  height: 560px;
}

/* 8229 */
.homepage.h-\[52px\] {
  height: 52px;
}

/* 8391 */
.homepage.min-h-\[calc\(100vh-76px-50px\)\] {
  min-height: calc(100vh - 76px - 50px);
}

/* 8400 */
.homepage.min-h-\[560px\] {
  min-height: 560px;
}

/* 8466 */
.homepage.w-full {
  width: 100%;
}

/* 8475 */
.homepage.w-\[84px\] {
  width: 84px;
}

.homepage.w-\[700px\] {
  width: 700px;
}

.homepage.w-column {
  width: 408px;
}

/* 8496 */
.homepage.w-\[55\%\] {
  width: 55%;
}

/* 8568 */
.homepage.w-3 {
  width: 24px;
}

/* 8622 */
.homepage.w-\[64px\] {
  width: 64px;
}

/* 8778 */
.homepage.min-w-\[100px\] {
  min-width: 100px;
}

/* 8811 */
.homepage.max-w-\[400px\] {
  max-width: 400px;
}

/* 8883 */
.homepage.flex-shrink-0 {
  flex-shrink: 0;
}

.homepage.flex-shrink {
  flex-shrink: 1;
}

/* 8895 */
.homepage.grow {
  flex-grow: 1;
}

/* 9025 */
.homepage.cursor-pointer {
  cursor: pointer;
}

/* 9061 */
.homepage.flex-col {
  flex-direction: column;
}

/* 9067 */
.homepage.flex-nowrap {
  flex-wrap: nowrap;
}

/* 9079 */
.homepage.items-center {
  align-items: center;
}

/* 9094 */
.homepage.justify-end {
  justify-content: flex-end;
}

/* 9100 */
.homepage.justify-center {
  justify-content: center;
}

/* 9103 */
.homepage.justify-between {
  justify-content: space-between;
}

/* 9136 */
.homepage.gap-x-1 {
  column-gap: 8px;
}

/* 9145 */
.homepage.self-start {
  align-self: flex-start;
}

/* 9157 */
.homepage.overflow-hidden {
  overflow: hidden;
}

/* 9464 */
.homepage.bg-color-transparent {
  background-color: rgba(0, 0, 0, 0);
}

.homepage.px-2 {
  padding-left: 16px;
  padding-right: 16px;
}

/* 9777 */
.homepage.pb-2 {
  padding-bottom: 16px;
}

.homepage.pt-2 {
  padding-top: 16px;
}

.homepage.pb-3 {
  padding-bottom: 24px;
}

/* 9819 */
.homepage.pt-\[40px\] {
  padding-top: 40px;
}

/* 9822 */
.homepage.pr-\[42px\] {
  padding-right: 42px;
}

/* 9897 */
.homepage.pt-1\.5 {
  padding-top: 12px;
}

/* 10005 */
.homepage.text-center {
  text-align: center;
}

/* 10026 */
.homepage.font-sans {
  font-family: -apple-system, system-ui, BlinkMacSystemFont, "Segoe UI", Roboto,
    "Helvetica Neue", "Fira Sans", Ubuntu, Oxygen, "Oxygen Sans", Cantarell,
    "Droid Sans", "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Emoji",
    "Segoe UI Symbol", "Lucida Grande", Helvetica, Arial, sans-serif;
}

.homepage.text-sm {
  font-size: 14px;
}

/* 10053 */
.homepage.text-md {
  font-size: 16px;
}

/* 10065 */
.homepage.text-xs {
  font-size: 12px;
}

/* 10113 */
.homepage.font-bold {
  font-weight: 600;
}

/* 10116 */
.homepage.font-regular {
  font-weight: 400;
}

/* 10161 */
.homepage.leading-regular {
  line-height: 1.25;
}

/* 10212 */
.homepage.text-color-text-accent-2 {
  color: var(--color-text-accent-2);
}

/* 10227 */
.homepage.text-color-text {
  color: var(--color-text);
}

/* 10257 */
.homepage.text-color-text-secondary {
  color: var(--color-text-secondary);
}

/* 10269 */
.homepage.text-color-action {
  color: var(--color-action);
}

/* 10326 */
.homepage.text-color-brand {
  color: #0a66c2;
}

/* 10517 */
.homepage.outline-0 {
  outline-width: 0px;
}

/* 11482 */
.homepage.left-right-divider {
  display: flex;
  align-items: center;
  text-align: center;
}
.homepage.left-right-divider::before,
.homepage.left-right-divider::after {
  height: 1px;
  width: 50%;
  background-color: var(--color-border-low-emphasis);
  --tw-content: "";
  content: var(--tw-content);
}

/* 11539 */
.homepage.lazy-loaded {
  opacity: 1;
}

.homepage.lazy-load,
.homepage.lazy-loaded,
.homepage[data-delayed-url],
.homepage[data-delayed-poster],
.homepage[data-delayed-background] {
  transition-property: opacity;
  transition-duration: 336ms;
  transition-timing-function: cubic-bezier(0.34, 0, 0.21, 1);
}

/* 11972 */
.homepage.main-heading {
  font-family: -apple-system, system-ui, BlinkMacSystemFont, "Segoe UI", Roboto,
    "Helvetica Neue", "Fira Sans", Ubuntu, Oxygen, "Oxygen Sans", Cantarell,
    "Droid Sans", "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Emoji",
    "Segoe UI Symbol", "Lucida Grande", Helvetica, Arial, sans-serif;
  font-size: 56px;
  font-weight: 200;
}
@media (max-width: 767px) {
  .homepage.main-heading {
    font-size: 32px;
    font-weight: 300;
  }
}

/* 12040 */
body[dir="rtl"] .flip-rtl {
  transform: scaleX(-1);
}

/* 12067 */
.homepage.section {
  position: relative;
  display: flex;
  width: 100%;
  align-items: center;
}
@media (max-width: 767px) {
  .homepage.section {
    max-width: 100vw;
    padding-left: 16px;
    padding-right: 16px;
  }
}
@media (min-width: 768px) and (max-width: 991px) {
  .homepage.section {
    padding-left: 16px;
    padding-right: 16px;
  }
}
@media (min-width: 992px) {
  .homepage.section {
    padding-left: 0;
    padding-right: 0;
  }
}
.homepage.section {
  max-width: 1128px;
}

/* 12292 */
.homepage.hero-cta-form,
.homepage.sign-in-form__third-party-container,
.homepage.google-sign-in-cta-widget {
  margin-top: 24px;
  margin-bottom: 16px;
  width: 408px;
}
@media (max-width: 767px) {
  .homepage.hero-cta-form,
  .homepage.sign-in-form__third-party-container,
  .homepage.google-sign-in-cta-widget {
    margin-top: 0px;
    width: 100%;
  }
}
.homepage.hero-cta-form .join-form__form-body-agreement-item-link:link {
  color: #0a66c2;
}
.homepage.hero-cta-form {
  margin-bottom: 0px;
}

/* 12852 */
.homepage.after\:\!h-\[37px\]::after {
  content: var(--tw-content);
  height: 37px !important;
}

/* 12957 */
.homepage.after\:up-down-divider::after {
  display: flex;
  height: 100%;
  width: 1px;
  align-items: center;
  background-color: var(--color-border-low-emphasis);
  text-align: center;
  --tw-content: "";
  content: var(--tw-content);
}

/* 13036 */
.homepage.visited\:text-color-text-secondary:visited {
  color: var(--color-text-secondary);
}

/* 13053 */
.homepage.hover\:cursor-pointer:hover {
  cursor: pointer;
}

/* 13102 */
.homepage.hover\:text-color-text:hover {
  color: var(--color-text);
}

/* 13123 */
.homepage.hover\:no-underline:hover {
  text-decoration-line: none;
}

/* 13152 */
.homepage.visited\:hover\:text-color-text:hover:visited {
  color: var(--color-text);
}

/* 13198 */
.homepage.focus\:no-underline:focus {
  text-decoration-line: none;
}

/* 13239 */
.homepage.active\:no-underline:active {
  text-decoration-line: none;
}

/* 13337 */
@media (max-width: 767px) {
  .homepage.babybear\:z-0 {
    z-index: 0;
  }

  .homepage.babybear\:mr-0 {
    margin-right: 0px;
  }

  .homepage.babybear\:flex-1 {
    flex: 1 1 0%;
  }

  .homepage.babybear\:flex-wrap {
    flex-wrap: wrap;
  }

  .homepage.babybear\:py-1\.5 {
    padding-top: 12px;
    padding-bottom: 12px;
  }

  .homepage.babybear\:hidden {
    display: none;
  }

  .homepage.babybear\:min-h-\[0\] {
    min-height: 0;
  }

  .homepage.babybear\:px-mobile-container-padding {
    padding-left: 16px;
    padding-right: 16px;
  }

  .homepage.babybear\:pt-\[24px\] {
    padding-top: 24px;
  }

  .homepage.babybear\:w-full {
    width: 100%;
  }

  .homepage.babybear\:pr-\[0px\] {
    padding-right: 0px;
  }

  .homepage.babybear\:pb-\[24px\] {
    padding-bottom: 24px;
  }

  .homepage.babybear\:w-full {
    width: 100%;
  }

  .homepage.babybear\:w-\[374px\] {
    width: 374px;
  }

  .homepage.babybear\:h-\[214px\] {
    height: 214px;
  }

  .homepage.babybear\:static {
    position: static;
  }
}

/* 13988 */
@media (min-width: 768px) and (max-width: 991px) {
  .homepage.mamabear\:flex-wrap {
    flex-wrap: wrap;
  }

  .homepage.mamabear\:gap-y-1 {
    row-gap: 8px;
  }

  .homepage.mamabear\:hidden {
    display: none;
  }
}

/* 14184 */
@media (min-width: 992px) {
  .homepage.papabear\:w-\[135px\] {
    width: 135px;
  }

  .homepage.papabear\:h-\[34px\] {
    height: 34px;
  }
}
